[2015-12-03 18:49] jayjaybillings opened #57 "API compilation issues with the latest version of VisIt"
ICE's visualization bundles do not compile with the latest version of the visit_java_client written by @HarinarayanKrishnan.

[2015-12-04 14:51] jayjaybillings commented on #57
Fixed in Hari's latest commit. Thanks for the contribution!

[2015-12-04 14:51] #57 closed

[2015-12-04 14:53] jayjaybillings opened #62 "VisIt connections do not work with latest version of VisIt client"
New VisIt connections do not work with latest version of VisIt client. After configuring a new connection and double clicking a file, the service mysteriously fails.

[2015-12-04 17:59] jayjaybillings opened #63 "ICE nightlies need "latest" directory"
The ICE nightly builds at eclipseice.ornl.gov/downloads should have a dedicated directory structure for the latest nightly build so that we can always point to the p2 site. Right now I have to change the address in ICE, but I shouldn't have to.

I think the directory structure should be:

downloads/(un)stable-nightly/latest/p2

in addition to

downloads/(un)stable-nightly/YYYYMMDD/p2

This can be

[2015-12-07 19:24] amccaskey commented on #63
Updated transfer builds script to copy latest build to the 'latest' directory for both stable and unstable nighty builds. Users can now point to downloads/(un)stable-nightly/latest/p2 to update their ICE installations.

Closing this ticket.

[2015-12-07 19:24] #63 closed

[2015-12-07 20:07] amccaskey opened #64 "Create a specialized JobLauncher for interacting with Docker"
Design an Item (may be a subclass of JobLauncher) that interacts with a Docker daemon to launch applications in a Docker image/container using something like https://github.com/spotify/docker-client (apache license).

[2015-12-07 23:43] jayjaybillings commented on #64
I think we need to refactor the code a little. We need to finally add the ActionFactory and split the launcher action into local, remote and Docker actions. We can figure out how to handle remote Docker later.

[2015-12-14 16:03] amccaskey opened #65 "Refactor JobLauncher to use ActionFactory"
We need to break up the JobLaunchAction into smaller separate Actions, and refactor the JobLauncher to use the ActionFactory to create and use the Actions it needs to accomplish it's job.

[2015-12-14 19:40] kburova commented on #62
Got into the same problem today. When tried to establish connection via 'Preferences->Visualization', it failed. When tried to 'Launch Visit' in Visualization perspective, it froze the whole thing and I had to do force quit.

[2015-12-14 22:43] amccaskey opened #66 "File copy bug in mccaskey/joblauncherRefactor"
Steps to replicate:

1. Create Existing Moose Workflow Item
2. Launch (succeeds)
3. Invalidate the Tree
4. Launch to get appropriate tree validation error
5. Fix tree and relaunch (expected successful execution)

The JobLaunchAction fails to copy files to the local iceLaunch_* directory. Specifically, we get

17:33:52.325 [Thread-175] INFO  o.e.ice.item.action.JobLaunchAction - JobLaunchAction cop

[2015-12-14 22:50] amccaskey commented on #66
Turns out this was happening because the map of files to be uploaded was persisting between JobLaunchAction executions, so the previous launch script was being included in the current file upload, and it didn't exist. Upcoming commit will fix this.

[2015-12-14 22:56] #66 closed

[2015-12-15 21:37] amccaskey opened #67 "Update Create JobLauncher Wiki Page"
Updates needed on https://wiki.eclipse.org/Creating_a_Java-based_Job_Launcher_with_an_OSGi_ICE_plug-in to better represent latest ICE updates (extension registry, launch configs, builds, etc).

[2015-12-16 21:03] kburova opened #68 "Wiki's Info about CSV Plot Viewer under 'Visualizing Output w/ ICE" is wrong"
Tried to go over CSV tutorial, and information was quite old. 'CSV Plot Viewer' doesn't exist in ICE, so 'Add Plot', 'Select Plot Type', 'Select features for X and Y' options are not there as well.

[2015-12-17 15:48] SmithRWORNL commented on #68
The wiki articles ICE Embedded Visualizations and Visualizing Output with ICE have been updated to reflect the CSV plotting capabilities being updated and moved to a different location in ICE. I think that should be all the CSV articles, but if there are others, let me know.

[2015-12-17 16:00] #68 closed

[2015-12-17 21:33] amccaskey opened #69 "Item and Datastructures bundle depend on Viz bundles"
I just noticed that org.eclipse.ice.item depends indirectly on org.eclipse.ice.viz.* through its dependence on org.eclipse.ice.datastructures. Datastructures depends on these for ICEGeometry and ICEShape.

I'm don't think its a good idea for Item/Datastructures to depend on Viz bundles, especially when the Viz bundles will be moved to another project soon.

[2015-12-17 23:28] jayjaybillings commented on #69
Alex,

I don't have a problem with it. I think it is fine because the viz bundles will very soon be third party dependencies like any other piece of Eclipse.

Jay

From my phone.
________________________________
From: Alex McCaskey
Sent: Thursday, December 17, 2015 4:39 PM
To: eclipse/ice
Subject: [ice] Item and Datastructures bundle depend on Viz bundles (#69)

I just noticed that org.eclipse.ice

[2015-12-18 13:48] SmithRWORNL commented on #69
@amccaskey

At some point, one of the two halves has to have some way to address the other in order for them to work together. The only alternative I see is that the viz.* bundles be made to depend on the rest of ICE, which is even worse.

[2015-12-18 14:41] jayjaybillings commented on #69
This is basic layered architecture stuff. The viz bundles will very, very soon be third party dependencies that exist at the bottom of the dependency stack, so any "higher" bundle can use them. A problem would only exist if they called up the dependency stack.

So, it isn't bad. It is a completely normal and valid way of handling a dependency.

It will be even clearer in a few months when the new

[2015-12-18 14:41] #69 closed

[2015-12-18 14:50] amccaskey commented on #69
Thanks for looking at this. Just wanted to make sure this wasn't a problem moving forward.

[2015-12-18 19:23] amccaskey opened #70 "VisIt Connections in the Visualization Perspective"
As it stands now, even if VisIt connections are persisted and/or connected through the Preferences > Visualization > VisIt view, users still have to click 'Launch VisIt' in the Visualization perspective to create a VisIt connection.

We should investigate/discuss ways to leverage existing VisIt connections in the Visualization Perspective.

[2015-12-18 20:18] jayjaybillings opened #71 "Python installer should be on download site"
The latest copy of the python installer should be uploaded to eclipseice.ornl.gov/downloads/ice.

[2015-12-18 20:42] jayjaybillings commented on #70
Yeah, definitely. I want to completely redo that perspective.

Jay

From my phone.
________________________________
From: Alex McCaskey
Sent: Friday, December 18, 2015 2:24 PM
To: eclipse/ice
Subject: [ice] VisIt Connections in the Visualization Perspective (#70)

As it stands now, even if VisIt connections are persisted and/or connected through the Preferences > Visualization > VisIt view, users

[2015-12-18 21:23] arbennett commented on #71
Done.

[2015-12-18 21:23] #71 closed

[2015-12-28 18:51] SmithRWORNL commented on #70
Have you tried to open a VisIt file after opening a connection through Preferences -> Visualization -> VisIt? Using a previous version of VisIt (2.9.1), I get an error message when opening the connection, but can then use it to render a file just fine after waiting a second. It appears ICE is just too fast in throwing up the error dialog, thinking the connection failed when it's actually just wait

[2015-12-28 19:30] SmithRWORNL opened #72 "JavaFX Implementations and Data Structure Refactoring for ICE Native Visualization Services"
The Geometry Editor, Mesh Editor, and Plant view are to be refactored to make use of a single generic modeling structure which will be extended with implementations for JavaFX and JME3 graphics. There are two major subtasks to be achieved:

1) Create a set of data structures based on the agreed upon EMF, MVC-based, model. These generic data types will encompass all parts of all models in ICE's nat

[2015-12-28 19:34] jayjaybillings commented on #72
Please paste a link to this in the 2.2 release candidate bug on Eclipse Bugzilla.

https://bugs.eclipse.org/bugs/show_bug.cgi?id=482170

[2015-12-28 19:44] jayjaybillings commented on #72
I don't understand your last paragraph. BTW - the Reactor Analyzer is already gone, except for the plant-level data structures.

Do you mean to say that you need to create an implementation that uses the Plant-level data structures in org.eclipse.ice.reactor.plant? If so, this is what Jordan's previous JME3 implementation did, so I think all you would have to do is convert his code to draw shapes

[2015-12-28 19:53] SmithRWORNL commented on #72
Ahh, I wasn't sure if it was completely removed or not as of the last update to next.

I technically already have Plant-level data structures in another branch, it's just that it would probably be slightly more time consuming to actually use them than to just break apart the current classes into generic ones with JME3 implementations and create my own extensions with JavaFX implementations. Either

[2015-12-28 20:15] jayjaybillings commented on #72
Give me some concrete examples of what is missing from the new classes that you want to add based on the old.

Let's clear up some language stuff here. You are NOT done. We only count work as done when ALL the methods have been implemented and tested, not when the core functionality alone works. There is no "essentially done" on this project. When you say to us "I'm done, but only have a few thing

[2015-12-28 20:38] SmithRWORNL commented on #72
Currently, the build is failing on org.eclipse.ice.datastructures.test, with problems from Edges having the wrong length, and Transformations no longer being loadable from XML, due to now containing a new class which has no JAXB support. Since we were agreed that the modeling data structures don't need persistence for the moment, I'll probably just remove that test (and move the test class to the

[2015-12-28 20:43] jayjaybillings commented on #72
I don't think AbstractControllers and AbstractViews need copy/clone/equals/hashCode (remember it is hashCode with a capitol "C" and that the lowercased version is a bug). We only implement these operations for data structures and/or things that need to be persisted, like Items. So, the views and controllers can probably be safely ignored. If you pass me a link to one of them in GitHub, I'll take a

[2015-12-28 20:54] SmithRWORNL commented on #72
The AbstractControllers definitely do, as the model stipulates that users should, to the greatest extent possible, interact only with the controller after passing the mesh component to the controller factory. Thus, clone commands are issued to Controllers, which create clones of their own data members, including the AbstractMeshComponent. I would argue it's the best way to handle the AbstractViews

[2015-12-28 21:09] jayjaybillings commented on #72
That design is messed up. The data structures should have absolutely no knowledge of the view, so Shape should not need to do anything with the view. If we have Shapes doing that, it is wrong.

It is common for people to draw MVC with a direct dependency between the model and the view, but that is wrong. Proper MVC requires that any updates posted from the model be done through a subject-observer

[2015-12-28 21:17] SmithRWORNL commented on #72
I'm not sure what the the objection is.

Changes to the model fire updates through its UpdateableSubscriptionManager, which alerts the controller to decide whether or not to invoke the view's refresh method based on the UpdateableSubscriptionType(s) of the message it just received. The controller then provides the view a reference to the model, just long enough for it to finish redrawing itself. A

[2015-12-28 21:30] jayjaybillings commented on #72
Okay, stop rocking the boat and follow the existing conventions. Under our normal naming conventions - which are based on the standard naming convention in the Java community and should be pretty obvious - these classes would be named ShapeComponent, ShapeController and ShapeView. The convention is simple: if SomeThing is a Thing, name it after that Thing!

Now, I also don't like the name of Abstr

[2015-12-29 13:43] amccaskey commented on #70
Yea I've noticed that. I hate that it says that it's caught an exception. Not sure why it was set up that way. It happens on the PlotGridComposite for the Output Files and Data tab on our JobLaunchers.

[2016-01-05 14:07] SmithRWORNL opened #73 "OSGI Services in built executables"
In the UnifiedVizRefactor_NoReactor branch, OSGI services from my newly added packages are not being consumed in the built executables.  They work when launched through a run configuration, so I assume this is a problem with not having the plug-ins started correctly. I added the plug-ins to the product, but either that wasn't enough or I did it wrong.

[2016-01-05 14:16] SmithRWORNL opened #74 "Allow user to select from available implementations for a specific capability"
In the UnifiedVizRefactor_NoReactor branch, ICE should detect the presence of two or more OSGI services capable of implementing a given capability, prompt the user for which version to use, then get the correct IVizService and use it to perform the requested function. In particular, this should be done for the Geometry and Mesh Editors and the MOOSE Plant View.

Related to this, IVizServices shoul

[2016-01-05 14:21] SmithRWORNL opened #75 "Add tests for new data structures"
Newer data structures for the UnifiedVizRefactor_NoReactor branch need to have test cases written for them. In particular, The JavaFX Views and Controllers in the viz.service.javafx.geometry and viz.service.javafx.mesh packages, the UpdateableSubscriptionManager, and the Plant View modeling classes are currently untested.

[2016-01-05 14:26] SmithRWORNL opened #76 "Add Geometry Editor Camera options"
Currently, the UnifiedVizRefactor_NoReactor branch always uses the camera pointing at the origin with mouse drags rotating it. The user should have the option to instead make use of the flight camera implemented by Tony McCrary's FPSController.

[2016-01-05 14:28] SmithRWORNL opened #77 "JavaFX Camera jerks at the start of a drag"
In the UnifiedVizRefactor_NoReactor branch, the camera will move greatly when a drag action is started. It needs to be updated with code like that in the FXMeshViewer to detect whether a drag action is already in progress when handling a MouseEvent.

[2016-01-05 14:31] SmithRWORNL opened #78 "JavaFX Mesh Editor bounds enforcement"
The JavaFX Mesh Editor in the UnifiedVizRefactor_NoReactor branch will currently allow the user to drag a vertex off the edge of the grid if they are moving their mouse fast enough. The FXMeshViewer should check the Vertex's new position against the bounds of the grid before moving it, limiting movements to acceptable values.

[2016-01-05 14:34] SmithRWORNL opened #79 "JavaFX Mesh Editor HUD needs to be implemented"
Currently, the JavaFX Mesh Editor from the UnifiedVizRefactor_NoReactor branch ignores the "Show HUD" button. It should display the coordinates for current location of the mouse and the point the camera is centered on, either in the JavaFX scene itself or, since that has been causing difficulties, in another box.

[2016-01-05 14:45] SmithRWORNL opened #80 "JavaFX Implementation for Plant View"
The UnifiedVizRefactor_NoReactor branch needs a JavaFX implementation for the Plant View. This requires that relevant modeling classes for plant parts from the UnifiedVizRefactor branch be moved into it. ICE's direct interactions with the PlantAppState need to be broken and replaced with references to a generic IPlantView which PlantAppState and the FXGeometryCanvas will realize. Further, the MOOS

[2016-01-08 18:20] SmithRWORNL commented on #72
@jayjaybillings
We discussed you looking at some of the tests for the new code this morning to help you get familiar with them. I'd suggest reading AbstractControllerTester from org.eclipse.ice.viz.service.modeling.test, since it covers most of the functionality shared between the majority of the new data types.

[2016-01-11 18:23] amccaskey commented on #73
Not sure if this is still going on, but sounds like a problem with your build.properties. Open the MANIFEST file, click the build tab, and make sure that the OSGI-INF folder is checked as part of the build.

[2016-01-13 13:54] SmithRWORNL opened #81 "Glitched graphical representation of text in code editor"
When working with the Java code editor in ICE, I sometimes get glitches where the editor will display some lines multiple times while skipping others. The duplication effect can be seen here:

![code editor graphics glitch](https://cloud.githubusercontent.com/assets/12715269/12295989/bd5a1956-b9d2-11e5-9f4c-4dae4a22b232.png)

The issue is rare for me, and I'm not sure it's related to ICE per se. I

[2016-01-13 14:03] SmithRWORNL commented on #81
Also, the problem seems to be short lived. I've normally resolved it by restarting ICE, but, after a few minutes trying out another instance of ICE to see if it shared the problem (it didn't), I came back to the instance experiencing the bug, saved the file, and found that the problem stopped. I had tried saving the file while experiencing the bug before, to no effect.

[2016-01-13 21:47] amccaskey opened #82 "Bug in getting JobLauncher Parallel DataComponent"
Bug on https://github.com/eclipse/ice/blob/a6373da9ff86ec12753cae32ad6422985c4e8527/org.eclipse.ice.item/src/org/eclipse/ice/item/jobLauncher/JobLauncher.java#L1298

Should be form.getComponent(JobLauncherForm.ParallelID). Putting this here to remind me.

[2016-01-18 22:25] amccaskey opened #83 "Fix Entry Parent Relationship in JobProfileForm"
Something like this should work

[code]

[2016-01-18 22:26] amccaskey opened #84 "Add Error Messages back to IEntry Refactor"

[2016-01-18 22:26] amccaskey commented on #83
This is referencing the entryRefactor branch.

[2016-01-20 13:56] SmithRWORNL opened #85 "Target Resolution for Linux computers"
This problem has been effecting me for a while, but it's now interfering with one of the last steps on getting the JavaFX branch building. When I try to resolve mars.target on my Linux machines, I get the error message

Problems occurred while resolving the target contents
An error occurred while configuring the installed items
Preference node "http:_download.eclipse.org_tools_cdt_releases_8.7" ha

[2016-01-20 14:13] jayjaybillings commented on #85
Here is something to try on Linux. It should take about 54min if I remember correctly.

1.) Delete ~/.m2 completely.
2.) Create a completely new workspace and checkout ICE from its developer menu.
3.) Pop open the target and/or try to build.

This doesn't happen on any of my Linux machines, but I'll try to check again to make sure. You might also need to merge the latest from next into your branch

[2016-01-20 14:31] SmithRWORNL commented on #85
Just tried this, same result. I'm in the process of merging next into my branch, but I used next for that attempt and I still ran into the same problem.

[2016-01-20 14:32] jayjaybillings commented on #85
Okay. One you get next merged in let me know and I'll give it a try.

[2016-01-20 14:49] SmithRWORNL commented on #85
I have them merged, so you can try it out, though I don't think the issue is related to my branch.

[2016-01-21 20:56] jayjaybillings commented on #85
Sorry Robert, I can't reproduce the problem. On two different machines the target from your branch has worked just fine on Linux. I'll be in tomorrow and can take a look if you want.

[2016-01-22 04:31] arbennett opened #86 "ProjectGeneration bundle fails on build."
When running `mvn install` on the jay/ProjectSupport branch the ProjectGeneration bundle fails to build.  The junit tests pass when run separately, so it seems that something is not set up correctly.

The only relevant output that I could find is:

[code]

Steps to reproduce: run `mvn install`.

[2016-01-23 02:11] jayjaybillings commented on #85
Fixed this error by removing ~/.eclipse and creating a new workspace. I know you have some more bugs, but they are related to e(fx)clipse if I remember correctly and we can open another bug if needed.

[2016-01-23 02:11] #85 closed

[2016-01-23 02:13] #86 closed

[2016-01-23 02:29] jayjaybillings opened #87 "IEntry refactor breaks the SWTBot tests"
@SmithRWORNL ran the SWTBot tests on the IEntry refactor branch and found that MOOSE Items no longer properly display their status in the Form and that IEntries no longer give the range of valid values (issue #84?).

[2016-01-23 16:45] jayjaybillings opened #88 "CSV Plot Editor should show data in separate tab"
It would be really nice for the data in csv files to be displayed in a second tab so that I could switch between the plot and the raw numbers.

[2016-01-25 13:20] SmithRWORNL commented on #73
Issue has been resolved in the UnifiedVizRefactor_NoReactor branch. OSGi services from new packages are now starting.

[2016-01-25 13:20] #73 closed

[2016-01-25 13:57] amccaskey commented on #84
This has been added. For issue #87, the problem is the string message is wrong, I think.

I'm closing this ticket.

[2016-01-25 13:57] #84 closed

[2016-01-25 13:58] amccaskey commented on #87
It seems like I just need to go in and update the message String. From what Robert reported, sounds like a message is being displayed, but it's not the same as before.

[2016-01-25 13:59] amccaskey commented on #82
This is fixed in the entryRefactor branch FYI. To be merged soon.

[2016-01-25 16:14] amccaskey opened #89 "MOOSETester SWTBot test fails on Mac at Save widget"
The MOOSETester SWTBot test fails at line 86 where it tries to find the button with tooltip marked Save (Ctrl+S).

I believe this may be happening due to the fact that I'm on a Mac and it might need to be Save (CMD+S) or something like that.

Robert, will you please test this for yourself on your Mac and fix if necessary?

[2016-01-26 14:18] amccaskey commented on #83
This has been fixed in mccaskey/entryRefactor

[2016-01-26 14:18] #83 closed

[2016-01-26 14:21] amccaskey commented on #64
This is still ongoing. I have now updated the Item infrastructure and JobLaunchers to use ActionFactory and new Actions.

Now starting work on DockerComponent which will serve as a specialized MasterDetailsComponent with available images as the Master and a DataComponent that gets Container launch information for each master image.

[2016-01-26 18:50] arbennett opened #90 "Equinox errors in stable-nightly/latest build on eclipseice.ornl.gov"
The linux-x86_64 version of ICE found at http://eclipseice.ornl.gov/downloads/ice/stable-nightly/latest/ has Equinox issues.  They can be seen in several ways:

1. Open the Eclipse Marketplace via `Help -> Eclipse Marketplace...`
2. Try to open the target platform configuration via `Window -> Preferences -> Plug-in Development -> Target Platform`.

These issues are not in newer builds, so updating

[2016-01-27 14:03] amccaskey commented on #90
Fixed the cronjob script that updates the latest directory. Closing this.

[2016-01-27 14:03] #90 closed

[2016-01-28 22:26] arbennett opened #91 "Target error when adding Xtext/Xtend"
When trying to add Xtext/Xtend to the target definition an error pops up with:

Following this, most of the projects are broken due to bundles not resolving correctly.  Notable bundles include org.slf4j and org.eclipse.platform, among many others.

Both the Xtext/Xtend libraries being added are from download.eclipse.org/releases/mars.

[2016-01-29 18:29] arbennett opened #92 "New ICE Item Projects fail when setting ICEItemNature"
In `NewICEItemProjectWizard` the `setNature` method throws a `CoreException` when trying to add the `ICEItemNature` to the project.  Error message says:

`Contains: Nature does not exist: org.eclipse.ice.projectgeneration.`

[2016-01-29 22:50] arbennett commented on #92
This has been fixed and merged into `next`.  Somewhere along the way the nature was deleted from `plugin.xml`.

[2016-01-29 22:50] #92 closed

[2016-02-03 21:54] jayjaybillings opened #93 "Geometry Editor missing images"
The ActionReplicateShape and ActionAddShape classes don't properly register their icons. Everything appears to be in the icons folder correctly, but the icons only show up as red squares.

[2016-02-09 15:52] SmithRWORNL opened #94 "MOOSE Workflow tree is not populated on Windows"
On Windows, the MOOSE Workflow will not populate the MOOSE Tree in the Input Data -- Tree View when the Item is saved. This bug occurs for all MOOSE applications and regardless of whether the application is local or remote to the ICE instance.

Edit: This bug is also affecting Linux, but not Mac.

[2016-02-09 19:52] jayjaybillings commented on #94
Assigned to Alex. This is kind of his baby.

[2016-02-11 19:04] amccaskey opened #96 "Update Developer Menu for new ICE Build."
The build in next has been updated. Update the ICE Developer tools in the Dev Menu accordingly.

[2016-02-11 21:41] amccaskey commented on #96
This has been fixed.

[2016-02-11 21:41] #96 closed

[2016-02-15 16:43] amccaskey opened #97 "ICE Next Product Broken"
I just pulled down the latest next build for both Mac and Linux, and none of the ICE-specific stuff is there. No ICE or MOOSE perspective, no create new Item wizard, etc...

Looking into next's product file. Looks like org.eclipse.ice.dependencies was still in there, looking into it.

[2016-02-15 16:55] amccaskey commented on #97
Fixed with 3b1c1e21686b5a6816d82b72584a4b20f146b4a4 (possibly, need to test habilis builds)

[2016-02-16 13:57] amccaskey commented on #94
Interesting find - I just downloaded master latest build, and started ICE in a new workspace, and the workspace path had a space in it. The tree did not load.

I switched to a workspace that had no spaces in the path name, and the tree did load...

Looks like I've found the place to start looking.

[2016-02-16 13:59] jayjaybillings commented on #94
Hm. That type of bug normally happens when you are opening a file incorrectly. If you look at the way we open files in Data Structures, that is (usually) the safe way to open files with spaces in the path.

[2016-02-16 14:02] jayjaybillings commented on #94
That is to say, it might not be that the view is messed up, but that you aren't actually loading the tree from file at all.

[2016-02-16 14:13] amccaskey commented on #94
That's what it looks like. Previous implementation of MOOSEModel.createCleanMooseFile is using java nio Files.

[2016-02-16 15:45] jarrah42 opened #98 "Weird error dialog displayed when s"

[2016-02-16 15:45] jarrah42 opened #99 "Weird error dialog displayed when s"

[2016-02-16 15:45] jarrah42 opened #100 "Weird error dialog displayed when s"

[2016-02-16 15:47] jarrah42 commented on #100
Starting with a new install of ICE, I selected the mesh editor from the toolbar. After a few seconds, I got the following dialog (truncated because it ran off my screen):

<img width="1425" alt="screen shot 2016-02-16 at 9 42 23 am" src="https://cloud.githubusercontent.com/assets/6130694/13081388/a79ed5a6-d49a-11e5-94a5-d9a27c70ca6a.png">

[2016-02-16 15:47] #100 closed

[2016-02-16 15:48] #99 closed

[2016-02-16 15:48] #98 closed

[2016-02-16 15:49] jarrah42 opened #101 "Weird error dialog displayed when in mesh editor"
Starting with a new install of ICE, I selected the mesh editor from the toolbar. After a few seconds, I got the following dialog (truncated because it ran off my screen):

<img width="1425" alt="screen shot 2016-02-16 at 9 42 23 am" src="https://cloud.githubusercontent.com/assets/6130694/13081454/e7452f52-d49a-11e5-8e04-5fed89e41a51.png">

[2016-02-16 15:51] jarrah42 opened #102 "ClassCastException when opening Mesh_Editor.xml"
When  I open the Mesh_Editor.xml file in the itemDB folder, I get the following error:

java.lang.ClassCastException: org.eclipse.ice.datastructures.ICEObject.ICEObject cannot be cast to org.eclipse.ice.datastructures.ICEObject.Component
    at org.eclipse.ice.datastructures.form.Form.copy(Form.java:373)
    at org.eclipse.ice.item.Item.copy(Item.java:1248)
    at org.eclipse.ice.core.internal.ite

[2016-02-16 16:06] SmithRWORNL commented on #101
@jarrah42

Which version of ICE were you running? This error is coming from the LightWeight Java Game Library, which was used by the old jMonkeyEngine implementation of the mesh editor, but not shouldn't be referenced by the JavaFX implementation which is replacing it.

[2016-02-16 16:10] amccaskey commented on #97
So even though a local build of ICE Next on my Mac produces a binary that works fine, the latest downloads from eclipseice.ornl.gov are still broken, and I'm not sure why.

[2016-02-16 16:10] amccaskey commented on #101
He found this on Master.

[2016-02-16 16:14] SmithRWORNL commented on #101
Master hasn't had the JavaFX stuff pulled in, so it's definitely a JME3 issue. Closing this bug, since it relates to an implementation we no longer support.

[2016-02-16 16:15] amccaskey commented on #101
Keep it open. We still technically support it since we have public binaries of master available.

[2016-02-16 16:51] amccaskey commented on #97
Output on Habilis (notice it's missing the [INFO] Eclipse ICE Build Aggregator ....................... SUCCESS [  0.001 s](

[INFO] --- tycho-p2-director-plugin:0.23.0:archive-products (archive-products) @ org.eclipse.ice.repository ---
[INFO] Building zip: /var/lib/hudson/jobs/ICE Build - Next/workspace/ice/org.eclipse.ice.repository/target/products/ice.product-linux.gtk.x86.zip

[INFO] Building

[2016-02-16 17:17] amccaskey commented on #97
looks like pom file was set incorrectly in Advanced section of maven execution

[2016-02-16 17:40] jayjaybillings commented on #97
Which pom file?

[2016-02-17 20:23] amccaskey opened #103 "Maven Lifecycle Mappings Error"
Currently if you pull down the latest ICE binary from next, then do a Developer > Clone ICE (or clone form Git Perspective I'm pretty sure), all pom.xml files have errors related to something like invalid goals related to m2e. To fix this you can mark those goals as ignored in the lifecycle-mapping.xml file, or install a new tycho plugin via the market place.

We should look into adding this plugi

[2016-02-17 20:24] amccaskey opened #104 "Create Eclipse ICE App Icon"
We need a new application icon for ICE.

[2016-02-17 20:25] amccaskey opened #105 "Create HIPP Instance"

[2016-02-17 20:25] amccaskey opened #106 "Setup ICE application signing"

[2016-02-17 20:26] amccaskey opened #107 "Set target version numbers to 0.0.0 for latest"

[2016-02-17 20:54] jayjaybillings commented on #107
@jarrah42 will take this.

[2016-02-17 20:55] jayjaybillings commented on #106
@jarrah42 will take this.

[2016-02-17 20:55] jayjaybillings commented on #105
@jarrah42 will take this.

[2016-02-17 20:56] jayjaybillings commented on #104
@jarrah42 will take this.

[2016-02-17 20:59] jayjaybillings commented on #101
I was looking at this some more. I haven't seen it before. We need to determine if it is related to 3D graphics drivers. I'm asking @jarrah42 about it.

[2016-02-18 03:05] amccaskey opened #108 "Errors on JavaFX plugins after initial clone"
Download the latest ICE binary from unstable. Execute Developer > ICE > Clone ICE. After the projects are imported and the builder finishes, there are still build errors on all plugins related to javafx. Opening the mars target and resolving dependencies and setting as target platform does nothing (thought it might, for e(fx)clipse stuff).

[2016-02-18 03:13] amccaskey commented on #108
Installing the e(fx)clipse feature in Install New Software fixes the build issues.

[2016-02-18 14:30] #108 closed

[2016-02-18 15:13] SmithRWORNL commented on #89
Fixed by commit 80e065a3de7fa2b67ff220a20fed58593801435b.

[2016-02-18 15:13] #89 closed

[2016-02-18 20:50] amccaskey opened #111 "ICE Next build broken due to updated version numbers"
The build is currently broken for the next branch due to the target update to 0.0.0 version numbers.

[2016-02-18 23:03] #97 closed

[2016-02-18 23:03] #94 closed

[2016-02-18 23:04] #87 closed

[2016-02-18 23:06] amccaskey commented on #82
This has been fixed with the merge of entry refactor into next.

[2016-02-18 23:06] #82 closed

[2016-02-18 23:11] amccaskey commented on #65
Joblauncher now uses IActionFactory and Actions.

[2016-02-18 23:11] #65 closed

[2016-02-19 15:40] SmithRWORNL commented on #93
The icons folder was left out of the package's build.properties. Fixed by commit 8644e75dde9f790289d610517628aeceb24fbc2a .

[2016-02-19 15:40] #93 closed

[2016-02-19 15:52] SmithRWORNL commented on #80
This has been implemented and merged into next.

[2016-02-19 15:52] #80 closed

[2016-02-19 15:53] SmithRWORNL commented on #75
These have been implemented in next.

[2016-02-19 15:53] #75 closed

[2016-02-19 15:54] SmithRWORNL commented on #72
This has been implemented and merged into next.

[2016-02-19 15:54] #72 closed

[2016-02-19 16:19] SmithRWORNL commented on #88
Added in commit 15004a810e024811989cb219c3811bb75405f5f2.

[2016-02-19 16:19] #88 closed

[2016-02-19 20:24] SmithRWORNL commented on #78
Fixed by commit 4553b9d00a92b645e69af2b44f404c1973261cbb.

[2016-02-19 20:24] #78 closed

[2016-02-19 20:25] SmithRWORNL commented on #77
Fixed by commit 4553b9d00a92b645e69af2b44f404c1973261cbb

[2016-02-19 20:25] #77 closed

[2016-02-23 20:23] #111 closed

[2016-02-23 20:57] jayjaybillings opened #113 "Project generator not in New->Project... but in New->Other"
The ICE Item Creation Wizard does not show up when I select New->Project and only works if I choose New->Other. It should show up in both cases.

[2016-02-23 21:01] jayjaybillings opened #114 "The "Specify ICE Item parameters" window is too stark"
The "Specify ICE Item parameters" window has issues. First, "Class Base Name" is not sufficiently explanatory for new users. This should say something like "Item Class Name: " and it should have a tool tip with a description that fits what it is. Second, the work "parameters" in the title should be capitalized like the rest of the window. Third, a header that runs across the gray (lower) part of t

[2016-02-23 21:03] jayjaybillings commented on #114
This window should also give me a choice of whether or not I want to generate a Model, a JobLauncher or a basic Item class. The basic Item should be disabled until they deselect both Model and JobLauncher.

[2016-02-23 21:16] jayjaybillings opened #115 "Generated Items missing package exports"
Items created by our new project generator should export the Launcher and Model packages. They are not currently exported.

[2016-02-23 21:17] jayjaybillings opened #116 "Unresolved package imports in generated Items"
Items generated with the project generator create plugins that cannot compile correctly because they are missing imports on org.eclipse.core.runtime and org.eclipse.core.runtime.jobs. All generated Items should import these packages.

[2016-02-23 21:22] jayjaybillings opened #117 "Newly created projects do not run and break ICE"
Newly created projects using the project generator do not run and break ICE when it is launched. This is because the package name for the Launcher and Model builders is incorrect. For example, the code will put this in the class value of plugin.xml:

org.eclipse.ice.triquetrum.TriquetrumWorkflowItemLauncherBuilder

but that class is actually in

org.eclipse.ice.triquetrum.launcher.TriquetrumWorkfl

[2016-02-23 21:28] jayjaybillings opened #118 "Newly created Items are not immediately viewable and break ICE"
The newly generated Items created by the project generator do not include

form = new Form();

in their setupForm() operations. This causes a null pointer exception at Item.java:532.

Two things need to be fixed. First, all new setupForm() operations should include the line of code above. It is a rule that all newly created Items in ICE be launchable. (Check the docs.) Second, the Item needs to be

[2016-02-23 21:30] jayjaybillings commented on #118
Note that putting this line of code in the file will require that the file also includes

import org.eclipse.ice.datastructure.form.Form;

[2016-02-23 21:32] jayjaybillings opened #119 "Newly created Models do not extend Model and break ICE."
The new project generator creates Models that do not extend Model.java, but instead extend Item.java. This in turn breaks ICE when ICE tries to load databases into the Model.

[2016-02-23 21:33] jayjaybillings commented on #119
This will require importing Model.

import org.eclipse.ice.item.model.Model;

[2016-02-23 21:39] jayjaybillings opened #120 "Newly created Items with the Item project generator do not include names, descriptions, etc."
Items that are created with the new plugin generator should include a human readable name and description, which can be set by calling setName(name) and setDescription(desc) from the setupItemInfo() operation. The same human readable name should be used in the Builder for this Item.

Failing to do this creates a bare-bones Item that looks like the attached picture in the Item selector. The name in

[2016-02-23 21:43] jayjaybillings opened #121 "Newly created Items do not need to redeclare ioService"
Newly created Items that were generated with the project generator do not need to redeclare ioService as shown below. Developers can obtain that locally by calling the getIOService() operation on the base class.

Redeclaring the variable leads to scope problems and could result in null pointer exceptions.

[2016-02-23 21:55] jayjaybillings opened #122 "Newly generated Item plugins should return 'status' from process()."
Newly generated Items are returning null in process(), but they should say

return status;

to return the status of the Item.

[2016-02-23 22:58] arbennett commented on #122
Fixed as of 1505ea27d291af86611c0a70ccf6773f2ec7babb

[2016-02-23 22:58] #122 closed

[2016-02-23 22:58] arbennett commented on #119
Fixed as of 1505ea27d291af86611c0a70ccf6773f2ec7babb

[2016-02-23 22:58] #119 closed

[2016-02-23 22:59] arbennett commented on #118
Fixed as of 1505ea27d291af86611c0a70ccf6773f2ec7babb

[2016-02-23 22:59] #118 closed

[2016-02-23 23:00] arbennett commented on #115
Fixed as of 1505ea27d291af86611c0a70ccf6773f2ec7babb

[2016-02-23 23:00] #115 closed

[2016-02-23 23:02] arbennett commented on #116
Fixed as of fa5699d430126a82fe6b4af6cd2d649431ef2745

[2016-02-23 23:02] #116 closed

[2016-02-23 23:21] arbennett commented on #117
Fixed as of c2c034110710962a47b234915caa9ea043f03c79

[2016-02-23 23:21] #117 closed

[2016-02-23 23:24] arbennett commented on #120
This should have been fixed as of c2c034110710962a47b234915caa9ea043f03c79.  Tutorial materials will also explain how to customize these things beyond the defaults.

[2016-02-23 23:24] #120 closed

[2016-02-23 23:25] arbennett commented on #91
@jayjaybillings This has been solved recently, correct?

[2016-02-24 14:46] erwindl0 opened #123 "Newly created items should return a status from reviewEntries()"
In the org.eclipse.ice.triquetrum.model.TriquetrumWorkflowItemModel, reviewEntries() returns null.
If this is the case by default for generated item templates, the issues may occur as described below. I guess the reviewEntries() method should by default return a valid status, similar to what was mentioned in #122 ?

Related to this, a possible small improvement to avoid the NPEs that I saw :
The N

[2016-02-24 15:06] jarrah42 commented on #123
I see a lot of code with the constant first, e.g. "".equals(status), but IMHO this is just shifts the problem somewhere else. If status is able to be null, then there should be a null check and it should be properly dealt with before any other code is executed.

[2016-02-24 15:09] erwindl0 commented on #123
True, the main issue is probably that status should not be allowed to be null. E.g. by always ensuring a non-null status being returned from the reviewEntries() in this particular case.

[2016-02-24 15:37] jayjaybillings commented on #123
Yes, the main issue is that Andrew just needs to return something like FormStatus.ReadyToSubmit or something by default instead of null.

[2016-02-24 15:38] jayjaybillings commented on #123
I noticed this yesterday when I was working on the plugin but decided that ten bugs lumped on Andrew was enough for one day, but this is a new day. ;-)

[2016-02-24 15:40] arbennett commented on #123
This was already fixed yesterday.

[2016-02-24 15:40] #123 closed

[2016-02-24 15:41] jayjaybillings commented on #123
In next?

[2016-02-24 15:43] arbennett commented on #123
Yep. In the following lines:

https://github.com/eclipse/ice/blob/next/org.eclipse.ice.projectgeneration/templates_3.4/ICEItem/src/%24className%24Model.java#L97-L104

[2016-02-24 15:44] jayjaybillings commented on #107
@jarrah42 fixed this.

[2016-02-24 15:44] #107 closed

[2016-02-24 15:45] jayjaybillings commented on #104
@jarrah42 has created some icons and is configuring them in the product.

[2016-02-24 17:59] arbennett opened #124 "Newly added actionItems must be assigned as class variables or in setupItemInfo()"
Due to the process of creating new items a null pointer exception may be thrown when using items created via the Item Creation wizard.  Things such as the custom action string, item name, and item description should not be set in the constructor, but rather in either the class itself or the setupItemInfo() method to avoid this issue.

Edit: Setting these in the setupItemInfo() method is the correc

[2016-02-24 18:20] jayjaybillings opened #125 "Geometry transformation view broken with switch to EAVP"
The geometry transformation view no longer renders after renaming the viz bundles to EAVP.

[2016-02-24 19:21] amccaskey opened #126 "Geometry Editor Tutorial Broken"

[2016-02-24 20:37] SmithRWORNL commented on #125
Addressed by commit 83a2c420aa61180c5652a7e3090a6ae28bca15a9.

[2016-02-24 20:37] #125 closed

[2016-02-24 20:59] SmithRWORNL opened #127 "ICE Perspective is missing"
The ICE Perspective no longer appears in the unstable nightly executables.

[2016-02-24 21:19] jayjaybillings commented on #127
It worked for me. Did you try with a clean workspace?

Jay

From my phone.
________________________________
From: SmithRWORNL
Sent: Wednesday, February 24, 2016 4:00 PM
To: eclipse/ice
Subject: [ice] ICE Perspective is missing (#127)

The ICE Perspective no longer appears in the unstable nightly executables.

-
Reply to this email directly or view it on GitHub<https://github.com/eclipse/ice/issues

[2016-02-24 21:20] SmithRWORNL commented on #127
@jayjaybillings

Yes, it was under a clean workspace, in both Windows and Linux.

[2016-02-24 21:47] jayjaybillings commented on #127
Okay. On it. Building now.

[2016-02-24 22:00] jayjaybillings commented on #127
This works just fine for me. I built ICE from scratch, completely removed everything from my workspace and launched it. No problems either finding the perspective or creating Items. Please submit a screenshot showing it missing from the list.

[2016-02-24 22:05] SmithRWORNL commented on #127
![iceperspectivemissing](https://cloud.githubusercontent.com/assets/12715269/13302588/93fd328e-db18-11e5-8a58-ef605ee78950.png)

I haven't tried building from next, only downloading the products from the update site, so it may be a problem with Habilis.

[2016-02-24 22:08] SmithRWORNL commented on #127
![itemwizardmissing](https://cloud.githubusercontent.com/assets/12715269/13302683/2defeb52-db19-11e5-96db-cdfb9c337547.png)

Tried to create a item from the New button, button the Create Item Wizard is also missing.

[2016-02-24 22:11] SmithRWORNL commented on #126
Fixed by commit 9208483de73cb00917542d7eca9607a435eb2090.

[2016-02-24 22:11] #126 closed

[2016-02-24 22:13] arbennett commented on #127
I just downloaded the unstable nightly for Linux x86_64 and have these issues.  Building from source does not have these issues for me either.

[2016-02-24 22:18] jayjaybillings commented on #127
I just downloaded the nightly and also got the same problem. Looking into it now.

[2016-02-24 22:39] jarrah42 commented on #127
I notice that next no longer includes org.eclipse.ice.client.rcp in the org.eclipse.ice.feature. I've re-added it in my workspace because it contains the splash.bmp, but it may also be why you're not seeing the perspective.

[2016-02-24 23:48] jayjaybillings commented on #127
I just committed a fix to the feature. Good catch.

The org.eclipse.ice.io bundle is not resolving because it is depending on the org.eclipse.ice.dependencies bundle, which doesn't exist in next and isn't part of the feature. You can see this if you check the OSGi console.

The org.eclipse.ice.dependencies bundle does exist in master. I suspect that the product is being resolved against the versio

[2016-02-25 13:47] SmithRWORNL commented on #127
Just tried the latest unstable nightly for Windows, and it's still missing the perspective.

[2016-02-25 14:07] jayjaybillings commented on #127
Okay. I'm looking into it. Thanks for checking it!

[2016-02-25 14:35] jayjaybillings commented on #127
Interestingly, this is not a problem with the 'next' build from our HIPP, http://hudson.eclipse.org/ice.

[2016-02-25 14:45] jayjaybillings commented on #105
@jarrah42 and I got this working with help from the Eclipse IT team. Closing.

[2016-02-25 14:45] #105 closed

[2016-02-25 14:46] jayjaybillings opened #128 "Move HIPP builds of ICE into downloads directory"
We need to configure out HIPP to move our binaries into our downloads directory after a build. @jarrah42 will take this.

[2016-02-25 14:49] erwindl0 commented on #128
Will you also publish a p2 repository from your build?
Is this feasible using eclipse storage, and to make the result
accessible via downloads and direct URL?

if so, I will be very interested to see how to get that done, as we
would need that for Triquetrum as well...

[2016-02-25 14:52] jayjaybillings commented on #128
@erwindl0 yes, we need to do that too. Sorry, I should have specified that better.

We currently publish our binaries and our p2 repo on https://eclipseice.ornl.gov/downloads/ice.

[2016-02-25 15:00] jayjaybillings commented on #127
I have fixed this and confirmed it on both Habilis and my desktop. Please try it for yourself.

[2016-02-25 15:00] #127 closed

[2016-02-25 15:07] erwindl0 commented on #128
@jayjaybillings great!

Just to be 100% sure : you will also offer a p2 access from default eclipse CBI resources, NFS shares, download area etc? Or will that part remain on your own hosted server that you mention above?

If you could share the details about poms, p2 metadata, HIPP job config to get that done, that would help us a lot.

(In fact I need to have a Triquetrum p2 available I think to

[2016-02-25 15:11] jayjaybillings commented on #128
@erwindl0 Yes, we will share the p2 repo on Eclipse servers.

Check out our org.eclipse.ice.repository/pom.xml for information on how to build the repository. The p2 repo will be put in the target/ directory of the same bundle once it builds. I don't know how the download will be configured on the Eclipse infrastructure yet (@jarrah42 will help us with that).

You will need this for the ICE integr

[2016-02-25 15:28] erwindl0 commented on #128
@jayjaybillings the p2 repo is already built on our HIPP as well, similar to what you describe.
It's just not reachable yet afterwards in an easy way, and is stuck indeed somewhere in the workspace...

The zip is somewhat big, but I could already share it with you via a drive service out there....
(until I can duplicate @jarrah42 's work ;-) )

[2016-02-25 18:36] jarrah42 opened #131 "Add Eclipse bundle signing"
ICE bundles need to be signed by Eclipse otherwise they show up as unsigned. Also, I think this is a requirement for graduation from Technology.

[2016-02-25 18:41] jarrah42 opened #132 "Sign the application for OS X"
Need to add OS X singing for the application to avoid nasty Gatekeeper messages.

[2016-02-25 18:56] jayjaybillings commented on #132
We need to get signing going for all of our builds, not just OS X. Can you look into it for Linux and Windows too?

[2016-02-25 20:08] jarrah42 commented on #132
There are two kinds of signing, do you mean signing Eclipse bundles (Issue #131) or OS specific signing (e.g. required by OS X Gatekeeper)?

[2016-02-25 20:19] SmithRWORNL commented on #79
Addressed by commit 82d17a063606b23d7f19b1db022ce9d6bd3c2340.

[2016-02-25 20:19] #79 closed

[2016-02-25 21:34] jayjaybillings commented on #132
Both. Sorry!

I think this is closed, right? You just committed the fix?

[2016-02-25 21:34] jayjaybillings commented on #128
Fixed in @jarrah42's last commit.

[2016-02-26 01:56] jarrah42 commented on #132
I've committed a fix for #131, but not this one yet.

[2016-02-26 02:06] jayjaybillings opened #134 "FormStatus.NeedsInfo NeedsDocumentationUpdates"
FormStatus.NeedsInfo does not clearly state the situations in which it should be used. Please update the documentation.

[2016-02-26 02:43] jarrah42 commented on #128
I've enabled this for the "ice-next" build. For the record, this is enabled by adding a "production" profile to the build. This is done on hudson by adding "production" to the Profiles field under the "Advanced" tab of "Invoke Maven 3".

[2016-02-26 16:18] tcpatt opened #136 "VisIt Preferences not available in latest unstable nightly"
The unstable nightly builds of ICE for OS X, Linux, and Windows downloaded from eclipseice.ornl.gov do not include the page for Visualization > VisIt in the Preferences dialog. I found this in a build downloaded on 2016-02-25.

[2016-02-26 19:53] tcpatt commented on #62
For clarity, I believe the latest version refers to VisIt 2.10.

[2016-02-26 20:03] jarrah42 commented on #131
In order to enable signing, the build has to specify the "eclipse-sign" profile. For hudson, this is specified using the "Advanced" button on the "Invoke Maven 3" section.

I believe this can now be closed.

[2016-02-26 20:27] jayjaybillings commented on #131
By that you mean that you check that box in the HIPP?

[2016-02-26 20:33] jarrah42 commented on #132
This is a duplicate of #106.

[2016-02-26 20:33] #132 closed

[2016-02-26 21:11] SmithRWORNL commented on #136
@jayjaybillings

Per our discussion, I finished refreshing the target, but still can't add the gov.lbnl.visit.swt package to the product.

[2016-02-26 21:12] jarrah42 commented on #131
No, you have to click on the advanced button to display the advanced configuration section. Find the "Profiles" text box and you should see the extra profiles I added.

[2016-02-26 21:12] jarrah42 commented on #131
In the HIPP configuration, yes.

[2016-02-26 21:17] SmithRWORNL opened #138 "Change method arguments to reduce casting"
The EAVP packages need to be checked for functions with overly permissive arguments, which increases the amount of casting required when only a certain subclass will ever really be used.

[2016-02-26 21:18] SmithRWORNL opened #139 "Check EAVP method names for clarity"
The EAVP method names should be double checked for clarity and ease of use.

[2016-02-26 21:19] SmithRWORNL opened #140 "IWireFramePart should extend IController"
Since all IWireFrameParts are also IControllers, the former should be made an extension of the latter to reduce the amount of casting required.

[2016-02-26 21:23] SmithRWORNL opened #141 "Provide a generic method for getting an IController's child entities"
IController (and IMesh, to which it delegates this function) should have a function which takes a class as an argument and has a generic return type which extends IController. This will allow the caller to specify the return type, reducing the amount of required casting.

[2016-02-26 21:26] SmithRWORNL opened #142 "Provide a wrapper for EAVP rendering engine objects."
Currently, an IView returns a raw Object of whatever type is specific to whatever rendering library it uses. Instead there should exist some generic wrapper class which will contain the view's rendering program specific output.

[2016-02-27 21:29] #128 closed

[2016-02-27 21:29] #104 closed

[2016-02-29 22:45] arbennett opened #146 "Import error on referencing IEntry into Item creation projects"
This can easily be solved by adding `org.eclipse.ice.datastructures.entry` to the imported packages.

[2016-03-01 03:02] jayjaybillings opened #147 "Generated projects should not create IOService in setupForm()."
The IOService is injected by the OSGI framework and should never be committed in client code. The following lines in the setupForm() operation from a generated Item should not be there:

[code]

[2016-03-01 03:08] jarrah42 opened #148 "Update ICE to use the latest version of EASE"
Need to update the target definition.

[2016-03-01 03:12] #146 closed

[2016-03-01 03:27] jayjaybillings opened #149 "Generated Items incorrectly assign exportString name in wrong place"
The value of exportString should not be set as follows:

[code]

The problem is that exportString will be null until after the super constructor is called. This means that when Item.setupItemInfo() is called to add exportString to the list allowed actions, it will add a null value to the list.

This should just be set in Item.setupItemInfo() as such:

[code]

[2016-03-01 03:36] jayjaybillings opened #150 "EAVP structures still have bad names?"
Robert,

I think some of the EAVP structures still have confusing names. Please talk to me about this sometime before EclipseCon.

Jay

[2016-03-01 06:33] #147 closed

[2016-03-01 06:36] #149 closed

[2016-03-01 06:37] arbennett commented on #124
This was also documented in #149, and fixed.

[2016-03-01 06:37] #124 closed

[2016-03-01 06:38] arbennett commented on #121
I think this was also referenced in #147, so I'm going to close it.  Feel free to open it again if I'm mistaken.

[2016-03-01 06:38] #121 closed

[2016-03-01 11:58] erwindl0 commented on #149
Jay, all,

"super"-constructor chains are indeed brittle if a base-class
constructor depends on state/readiness of stuff in a subclass, or when
it invokes methods that must be implemented in subclasses. This
structure forces developers to be aware of this fact, and to think about
where to put property initialization etc as Jay mentions.

If it's the case that Items are always constructed via their

[2016-03-01 12:33] jayjaybillings commented on #149
Erwin,

You are right of course!

The Item class is very old and in need of an extensive overhaul, including breaking the chained constructors. This is on my list of future tasks, so maybe I'll clean it up this summer. Basically everything in Item() should move into the AbstractItemBuilder class.

Jay

From my phone.
________________________________
From: erwin de ley
Sent: Tuesday, March 1, 2016

[2016-03-01 15:12] amccaskey opened #151 "DiscreteEntry Render Bug with No Allowed Values"
Currently DiscreteEntry with 0 allowed values does not render. Entries always need to be rendered.

[2016-03-01 15:18] amccaskey commented on #151
How do we want to render DiscreteEntries that have no allowed values? We could have DiscreteEntry add an allowed value that says "Add Allowed Values" in the event it has no allowed values, or we can just have the DiscreteEntryComposite render itself with just a label and an empty combo.

[2016-03-01 17:16] jarrah42 opened #152 "Random test failures in next HIPP build"
I'm seeing fairly random test failures during the build. The latest is:

Tests run: 5, Failures: 2, Errors: 0, Skipped: 0, Time elapsed: 0.136 sec <<< FAILURE! - in org.eclipse.ice.datastructures.entry.test.FileEntryTester
checkAllowedValues(org.eclipse.ice.datastructures.entry.test.FileEntryTester)  Time elapsed: 0.002 sec  <<< FAILURE!
java.lang.AssertionError: expected:<13> but was:<0>
    at o

[2016-03-01 17:23] amccaskey commented on #152
Are there files in your ~/ICETests/itemData directory?

[2016-03-01 17:54] jarrah42 commented on #152
This is on the HIPP instance and was working before...

[2016-03-01 18:19] arbennett opened #153 "Generated parser projects don't resolve org.eclipse.xtext.xbase"
By default when creating an Xtext project the plugin `org.eclipse.xtext.xbase` is required, but cannot be resolved.

[2016-03-01 18:29] jarrah42 opened #154 "Add PyDev to ICE"

[2016-03-01 18:52] #131 closed

[2016-03-01 18:56] jarrah42 opened #155 "NPE in ReflectivityMode.process"
The Python sample scripts call the processItem method:

coreService.processItem(reflectModel.getId(), "Calculate Reflectivity", 1)

which results in:

Traceback (most recent call last):
  File "(none)", line 48, in <module>
	at org.eclipse.ice.reflectivity.ReflectivityModel.process(ReflectivityModel.java:210)
	at org.eclipse.ice.core.internal.itemmanager.ItemManager.processItem(ItemManager.java:98

[2016-03-01 20:17] jayjaybillings commented on #154
I don't know that we want to add PyDev to ICE for all builds. I'm not sure it would pass the CQ process. We at least need it for the the tutorial though.

Jay

From my phone.
________________________________
From: jarrah42
Sent: Tuesday, March 1, 2016 1:29 PM
To: eclipse/ice
Subject: [ice] Add PyDev to ICE (#154)

-
Reply to this email directly or view it on GitHub<https://github.com/eclipse/ice/i

[2016-03-01 20:21] jayjaybillings commented on #152
I think this particular failure is definitely random and not necessarily addressable.

We have some reoccurring pseudo-random tests in the client and Item that fail because of thread timing issues when hardware is under heavy load. These are in Item and Client. If those are popping up regularly, we can try to rewrite them.

Jay

From my phone.
________________________________
From: jarrah42
Sent:

[2016-03-01 20:23] jarrah42 commented on #154
May be a good candidate for the developer menu?

[2016-03-01 20:27] jayjaybillings commented on #154
That's a big +1, good buddy!

From my phone.
________________________________
From: jarrah42
Sent: Tuesday, March 1, 2016 3:23 PM
To: eclipse/ice
CC: "Billings, Jay Jay"
Subject: Re: [ice] Add PyDev to ICE (#154)

May be a good candidate for the developer menu?

-
Reply to this email directly or view it on GitHub<https://github.com/eclipse/ice/issues/154#issuecomment-190885843>.

[2016-03-01 20:50] amccaskey commented on #154
I think that is cool. But doesn't that still leave the problem of the students having to download it in the tutorial?

[2016-03-01 21:06] amccaskey opened #156 "DockerClient and Jersey Versioning Bug"
Just wanted to start a tracker for this to report resultant fix:

Naively adding the 3.1.1 spotify-docker-client from Orbit to our target causes an error with HTTP posts during Moose real-time plot updating. This is because the docker client relies on JAX-RS 2.0, while ICE uses Jersey 1.17 for its HTTP server functionality. This clash causes the 2.0 javax.ws.rs bundle to get activated and used, le

[2016-03-01 21:15] jayjaybillings commented on #156
Alex,

This is good to hear.

Have you submitted CQs for the Docker shaded plugin and the p2 maven plugin? Anything that you use from Orbit can have a piggyback CQ, but these guys will probably need full CQs. Of course, if someone else has put them in there but not in Orbit you can piggyback off of that too.

Jay

From my phone.
________________________________
From: Alex McCaskey
Sent: Tuesday, M

[2016-03-01 21:23] jayjaybillings commented on #156
I looked at this some more. We only need a CQ for Docker shaded, not the p2-maven-plugin.

Jay

From my phone.
________________________________
From: "Billings, Jay Jay"
Sent: Tuesday, March 1, 2016 4:15 PM
To: eclipse/ice ,eclipse/ice
Subject: Re: [ice] DockerClient and Jersey Versioning Bug (#156)

Alex,

This is good to hear.

Have you submitted CQs for the Docker shaded plugin and the p2 maven

[2016-03-01 21:25] jayjaybillings commented on #154
Yes, for the tutorial we have to install it in the image and then recreate the zip files. Or we can copy the p2 file onto the usb sticks.

From my phone.
________________________________
From: Alex McCaskey
Sent: Tuesday, March 1, 2016 3:50 PM
To: eclipse/ice
CC: "Billings, Jay Jay"
Subject: Re: [ice] Add PyDev to ICE (#154)

I think that is cool. But doesn't that still leave the problem of the st

[2016-03-01 21:59] amccaskey commented on #156
CQ Filed: https://dev.eclipse.org/ipzilla/show_bug.cgi?id=11019

[2016-03-02 05:25] arbennett opened #157 "`mvn install` fails on Parser Generator projects"
The stack trace is as follows:

[code]

[2016-03-02 16:12] SmithRWORNL commented on #142
Addressed by commit 914ef2ee5b9e87cf52c1e9c6ff07b19ff8557515.

[2016-03-02 16:12] #142 closed

[2016-03-02 16:13] SmithRWORNL commented on #141
Addressed by commit 914ef2ee5b9e87cf52c1e9c6ff07b19ff8557515.

[2016-03-02 16:13] #141 closed

[2016-03-02 16:13] SmithRWORNL commented on #140
Addressed by commit 914ef2ee5b9e87cf52c1e9c6ff07b19ff8557515.

[2016-03-02 16:13] #140 closed

[2016-03-02 16:13] SmithRWORNL commented on #139
Addressed by commit 914ef2ee5b9e87cf52c1e9c6ff07b19ff8557515.

[2016-03-02 16:13] #139 closed

[2016-03-02 16:13] SmithRWORNL commented on #138
Addressed by commit 914ef2ee5b9e87cf52c1e9c6ff07b19ff8557515.

[2016-03-02 16:13] #138 closed

[2016-03-02 16:14] SmithRWORNL commented on #136
We had some bundles missing from the feature. Fixed by commit 914ef2ee5b9e87cf52c1e9c6ff07b19ff8557515.

[2016-03-02 16:14] #136 closed

[2016-03-02 19:05] jarrah42 opened #158 "Add some text in "About ICE""

[2016-03-02 19:06] jarrah42 commented on #155
Jay said he'd look at it...

[2016-03-02 20:12] amccaskey opened #159 "Creating New ICE Item Project Errors"
Best way to show this is the attached screenshot.
![screen shot 2016-03-02 at 3 04 56 pm](https://cloud.githubusercontent.com/assets/827531/13473667/5c461746-e088-11e5-9ef3-08ba4a09b698.png)

This is in next. Do we need this method? We shouldn't be switching on allowed value types with the new IEntry Refactor, the new IEntry does not use them.

[2016-03-02 20:30] amccaskey opened #160 "FileEntry Updates"
We should configure the FileEntry to watch for the addition of files in the project space and update accordingly.

[2016-03-02 21:00] arbennett commented on #159
I'm not entirely familiar with the new IEntry.  How should this method look, or what would its replacement be?  This method was mostly added to make the tutorial simpler.

[2016-03-02 21:23] amccaskey commented on #159
I would just show the addition of some Components/IEntries in the setupForm method, and get rid of that method. I would also separate setupForm from the loadInput method.

[code]

It might be good for the template to just comment the above lines out and have a note explaining how to create Components in ICE.

[2016-03-02 21:48] SmithRWORNL opened #161 "Plot Editor can't save on some pages"
When opening a CSV file in the Plot Editor, if you edit the data then switch back to the graph without saving, the save button will still be enabled. Clicking save on this page does nothing. The IPlot should be able to save regardless of which page is currently active.

[2016-03-03 02:20] #159 closed

[2016-03-03 22:42] jayjaybillings opened #162 "ReflectivityModel.process() is a dirty, dirty blob of code"
This operation needs to be refactored. It is just a big nasty block of code.

[2016-03-04 14:01] jarrah42 commented on #148
Forgot to commit.

[2016-03-04 14:01] #148 closed

[2016-03-05 00:31] jarrah42 opened #163 "Change version numbers to use .qualifier"

[2016-03-05 00:31] jarrah42 opened #164 "Remove transitive dependencies from p2 repo"

[2016-03-05 00:41] jarrah42 opened #165 "NPE in ICEMeshPage#selectionChanged()"
1. Start with a new workspace.
2. Click on the MeshEditor button in the toolbar.
3. Click on the Mesh Element tab.

The following NPE occurs:

java.lang.NullPointerException
    at org.eclipse.ice.client.widgets.ICEMeshPage.selectionChanged(ICEMeshPage.java:402)
    at org.eclipse.ui.internal.e4.compatibility.SelectionService.notifyListeners(SelectionService.java:249)
    at org.eclipse.ui.interna

[2016-03-06 01:37] jayjaybillings opened #166 "FileEntry does not update when workspace modified"
They FileEntry does not update its list of allowed values when the workspace is modified. This can be seen easily when using EASE scripts to run ICE and update values, as show below.

	org.eclipse.ease.modules.EnvironmentModule@7882a30e
// use help("<topic>") to get more information
include("workspace://org.eclipse.ice.examples.reflectivity/createAndProcessPython.py");
	InfoError
loadModule('/Syst

[2016-03-07 12:35] amccaskey opened #167 "Model Generation has a compilation error."
When using the project generation tools, the generated Model has an error.

This is my bad, I changed the code to use Item's refreshProjectSpace instead of what was there. Forgot to take out the try/catch for the CoreException.

[2016-03-07 16:49] amccaskey opened #168 "ResourceComponent Tutorial Errors"
The ResourceComponent Tutorial needs updating:

AbstractView -> BasicView
ResourceComponent.add -> addResource

Also don't do project.getFile() in setupForm without checking that those files exist. This caused  a NPE that caused ICE Core to fail to load.

[2016-03-07 16:56] amccaskey opened #169 "Bug in docker connection for opening Job Launcher Item XML File"
Docker connection isn't created when opening existing Job Launcher Item, ie double-clicking the XML file.

[2016-03-08 18:20] SmithRWORNL commented on #165
I could not reproduce this bug on Linux, but I surrounded the statement with a check for the canvas being a null pointer in commit 6994bfaba7632a5cc7845cf3489261646fb2ee8e.

[2016-03-08 18:21] SmithRWORNL commented on #168
Addressed in commit 6994bfaba7632a5cc7845cf3489261646fb2ee8e.

[2016-03-08 18:31] amccaskey commented on #168
Robert,

The check on the IFile's before your VizResource creations is not correct. project.getFile will return a valid IFile reference, even if the file doesn't exist. What you want to do is check csvFile.exists() instead of csvFile == null.

[2016-03-08 20:42] SmithRWORNL commented on #168
Switched the check to use exists() in commit f5cb839e37b2dd5d7ae90b31ea4c96eb1b33de6e.

[2016-03-10 00:49] SmithRWORNL commented on #161
Fixed by commit 63dbdd6ef93d34c00f918c25ae9164421d96ccc9.

[2016-03-10 00:49] #161 closed

[2016-03-11 21:13] jayjaybillings opened #170 "Add dynamic UI support for extra pages with e4"
The DefaultPageFactory should be modified to use the E4 context for all page types, not just GeometryPages.

[2016-03-11 21:14] jayjaybillings opened #171 "Add dynamic UI support for DataComponentSectionPart"
The DataComponentSectionPart should be modified to be part of the dynamic UI extensions and it should use e4.

[2016-03-12 01:20] jayjaybillings opened #172 "Replace Bison files in ICE tests with MOOSE Test files"
The Bison files in ICETests prevent us from releasing those files publicly. If possible, please replace them with files from MOOSE Test instead. Note that "if possible" means that similarly complicated MOOSE Test yaml and action syntax files with multiple blocks and a sophisticated tree can be obtained such that the level of test coverage is not compromised.

[2016-03-12 01:52] jayjaybillings opened #173 "Installer should be updated to point to our new download site"
Our new download site is at eclipse.org:

https://projects.eclipse.org/projects/technology.ice/downloads

The installer should point to this.

[2016-03-12 01:55] jayjaybillings opened #174 "Eclipse download page should point to master, not next"
The download page for ICE points to the next build, which is unstable.

http://download.eclipse.org/ice/builds/next/

The master build should be exported to our downloads directory and the download page should point to it instead.

[2016-03-12 02:00] jayjaybillings opened #175 "eclipseice.ornl.gov should mirror download site"
eclipseice.ornl.gov should mirror the contents of our master and next download sites at eclipse.org since we are now using the HIPP. The simplest way to do this is to update the cron job on Habilis to pull the files and then upload them.

This is important because our builds on this site are now stale, but our installer still points there because of VisIt.

[2016-03-12 13:34] #158 closed

[2016-03-12 13:34] #106 closed

[2016-03-14 18:21] jayjaybillings commented on #175
Depends on #174

[2016-03-15 14:58] #163 closed

[2016-03-15 15:31] jarrah42 opened #176 "Fix ice-next build failures"
Master issue for all the build failures we're seeing

[2016-03-15 15:32] jarrah42 commented on #176
#152

[2016-03-15 15:34] jarrah42 opened #177 "Build is failing with "Too many open files" in plexus archiver"

[2016-03-15 15:34] jarrah42 commented on #176
#177

[2016-03-16 01:31] jarrah42 commented on #164
Fixed in commit for Issue #163

[2016-03-16 01:31] #164 closed

[2016-03-17 19:31] kburova opened #178 "Build error, "Cannot resolve project dependencies""
I installed new ice, from **http://download.eclipse.org/ice/builds/next/** , cloned from github(next branch) and imported all the projects, i ran EAVP.launch, and got an error in the end of build:

-----------------------------------
[ERROR] Cannot resolve project dependencies:
[ERROR]   Software being installed: org.eclipse.ice.repository raw:2.1.8.'SNAPSHOT'/format(n[.n=0;[.n=0;[-S]]]):2.1.8-SNA

[2016-03-17 19:39] kburova commented on #178
moved to EAVP issues list

[2016-03-18 19:39] SmithRWORNL commented on #178
This is a known issue resolved in EAVP. However, ICE has stale versions of the EAVP packages in its repo. This should be resolved by having ICE pull EAVP from its p2 site, once that site is up.

[2016-03-22 20:24] jarrah42 opened #179 "Switch ICE to use EAVP repository"

[2016-03-23 12:36] jayjaybillings commented on #174
We actually need both next and master update sites. Sorry, I should have been clear about that.

[2016-03-23 15:11] jarrah42 commented on #179
Done.

[2016-03-23 15:11] #179 closed

[2016-03-23 15:12] jarrah42 commented on #177
Seemed to have been fixed with updated tycho

[2016-03-23 15:12] #177 closed

[2016-03-24 19:00] SmithRWORNL opened #180 "Client Thread creation refactor"
Currently, the Client's processItem function is creating and running a thread while having no way to synchronize with it. This is causing build failures in ClientTester (part of Issue #176 ). Alex and I discussed the problem, and propose that Client be refactored to take a thread creation factory. In real cases, this new factory class will function identically to Client's current code, but it will

[2016-03-24 19:10] SmithRWORNL opened #181 "XMLPersistenceProvider queue synchronization"
The XMLPersistenceProvider currently lacks a way to test if it has any unfinished tasks either queued or undergoing processing. This means that there is no way for the test class XMLPersistenceProviderTester to check whether assigned tasks are completed before, for example, trying to read a written file, in turn causing test failures (part of Issue #176 ). Creating a Boolean variable and naively s

[2016-03-24 19:11] SmithRWORNL commented on #176
#180 and #181

[2016-03-24 19:12] SmithRWORNL commented on #178
The changes above have been merged into next, per Issue #179 .

[2016-03-24 19:12] #178 closed

[2016-03-25 15:06] jayjaybillings opened #182 "VisIt tutorial should give sample paths"
The VisIt tutorial says:

Path: Enter the full path to the directory containing the VisIt executable,
not the executable itself. The VisIt executable is named visit on Linux and Mac
OS X. On Windows, VisIt.exe is the appropriate file.

It also shows a picture with a collapsed table.

Those things combined make for nearly useless documentation and I just received a bug report from a user who couldn

[2016-03-28 01:14] jayjaybillings commented on #172
@amccaskey What's the status on this? Do you need a hand or anything?

[2016-03-28 14:22] SmithRWORNL commented on #182
The wiki pages Visualizing Output in ICE and ICE Embedded Visualizations have been updated to include example paths for the three operating systems, as well as current information about which versions of VisIt are compatible with ICE.

The visualization tutorial has been similarly update by commit 5d9cf6d32f05061e96ffebe2e58c7ca81a742058.

[2016-03-28 14:22] #182 closed

[2016-04-01 14:55] jayjaybillings opened #183 "userMatDB.xml file needs to be moved"
It doesn't work on SNS machines and shouldn't be in the bundle anyway.

Caused by: java.io.FileNotFoundException: /var/tmp/eclipse/configuration/org.eclipse.osgi/442/0/.cp/data/userMatDB.xml (Permission denied)
	at java.io.FileOutputStream.open0(Native Method) ~[na:1.8.0_71]
	at java.io.FileOutputStream.open(FileOutputStream.java:270) ~[na:1.8.0_71]
	at java.io.FileOutputStream.<init>(FileOutputSt

[2016-04-06 18:42] SmithRWORNL opened #184 "ICE crashes under CentOS"
Under the CentOS operating system, attempting several functions related to Git will briefly freeze ICE, preventing the user from doing anything except moving or minimizing/maximizing the current window, followed shortly by ICE crashing.

Steps to reproduce:
Crash 1) In the Git perspective, press the Clone Git Repository button. Select Clone URI then hit Next.
Crash 2) When a repository is already

[2016-04-08 14:42] SmithRWORNL commented on #184
Additionally, if you right click on a repository, then Remote -> Push, and click next, on the new screen the combo boxes are broken. It is impossible to select any of their values with the mouse, but you can click to display them all then use the up/down arrow keys to select the first, second, or last options.

[2016-04-12 17:09] jarrah42 commented on #166
Did this need to be fixed for the tutorial?

[2016-04-12 17:12] jarrah42 opened #185 "Does the Developer menu need a Clone EAVP item now?"

[2016-04-12 17:43] amccaskey commented on #166
Good catch. I've got a fix for this.

[2016-04-12 18:26] amccaskey commented on #185
Clone EAVP added to Developer > Frameworks

[2016-04-12 18:26] #185 closed

[2016-04-12 18:26] #166 closed

[2016-04-12 18:27] amccaskey commented on #160
This is a duplicate of #166 and has been addressed.

[2016-04-12 18:27] #160 closed

[2016-04-13 20:58] amccaskey opened #186 "Build Error on Project Generation"
Generating a new Item project starts off with a build error due to the fact that org.eclipse.core.runtime is not in the required bundles list.

[2016-04-13 21:10] amccaskey opened #187 "Mac OS X Secure Storage Keystore Remote Launch Error"
When performing a remote job launch with ICE on a Mac, if the General > Security > Secure Storage > OS X Key Store Integration is checked ( which it unfortunately is by default ), then the Remote Services stuff cannot create a remote connection.

Unchecking this preference fixes it. Maybe there is some way we can turn it off programmatically before remote job launches?

[2016-04-13 21:18] amccaskey commented on #187
Removing org.eclipse.equinox.security.macosx from the run configuration bypasses this issue.

[2016-04-13 21:29] amccaskey opened #188 "JobLauncherForm Needs to Provide IProject instance to create File Entries"
If we pass the Item's project space to the JobLauncherForm then it could construct its FileEntries with the project space to enable auto-updating of its list of allowed values.

[2016-04-13 21:36] jayjaybillings commented on #188
We can't do it that way. Data structures shouldn't know about org.eclipse.core.resources. The proper way to do this it to define some sort of updater interface that providers the entry with updates when it changes. Then the JobLauncher could realize that interface without polluting the JobLauncherForm.

[2016-04-14 12:47] SmithRWORNL opened #189 "Project Generation capitalization inconsistency"
In the ICE Item Project Creation Wizard, if the project name is set to include capital letters, the project will have build errors due to inconsistent capitalization. The manifest and java files will include capital letters in their package names, but the package names themselves are all in lower case.

The wizard should either apply a single capitalization scheme or prevent the user from inputtin

[2016-04-14 14:22] amccaskey commented on #186
This happened on my Mac Pro and not my laptop. Robert also said he didn't see it on his Windows.

[2016-04-14 19:37] jayjaybillings opened #190 "Installing from the P2 site is broken"
Jay Jay,

You gave me incomplete instructions...

Cannot complete the install because one or more required items could not be found.
  Software being installed: ICE Infrastructure Feature 2.1.8.201604122238 (org.eclipse.ice.feature.group 2.1.8.201604122238)
  Missing requirement: EAVP Datastructures 2.1.8.201604082008 (org.eclipse.eavp.viz.datastructures 2.1.8.201604082008) requires 'bundle org.ec

[2016-04-14 19:37] jayjaybillings commented on #190
Submitted by @pnorbert via ORNL eclipse-ug list.

[2016-04-14 19:38] jayjaybillings commented on #190
Looks like this is caused by the category.xml file. I'm working on it now to refer to the EAVP update site instead of publishing the version in the target platform as part of ICE's p2 site.

[2016-04-14 20:26] jayjaybillings commented on #190
This turns out to be a regression based on some recent changes that Greg made to avoid including other non-ICE bundles in the p2 repository. He's going to take this bug from here.

[2016-04-14 22:43] jarrah42 commented on #187
What happens when you try to create a remote connection? I don't think we want to remove this plugin as it may break other plugins that use secure storage.

[2016-04-15 20:54] kburova opened #191 "Build EAVP feature"
I downloaded latest unstable-nightly version of Ice and i don't have build EAVP feature under Developer menu. Alex and Robert said it should be in there.

[2016-04-15 20:56] SmithRWORNL commented on #191
It shows up for me on Windows, so this may be OS specific.

[2016-04-15 20:59] kburova commented on #191
For more information, I have Mavericks OS on my laptop. I'll try to test it on my home PC with Yosemite.

[2016-04-18 05:23] arbennett commented on #186
`org.eclipse.runtime` is in imported packages already.  Adding required bundles automatically would require more work, and we should be able to do this via the lighter weight mehod of package imports.  Do you know which subpackages would be needed to import to solve this issue?

[2016-04-18 05:27] arbennett commented on #189
I just tried this and it seems to have worked fine.  Could you provide more info about how you made this happen?  Specifically it would be helpful to know what you have input on each of the wizard pages.

[2016-04-18 11:39] jayjaybillings commented on #186
I agree with Andrew that we need to favor Import Package over Require Bundle. Aside from this being written in multiple sources as a best practice, I think I might also have it written in our Dev Guidelines.

FYI - I didn't get any problems with org.eclipse.runtime. The actual problems I encountered were that org.eclipse.ice.io.serializable was not on the import package list.

We should just all t

[2016-04-18 12:52] SmithRWORNL commented on #189
Here's what I had in the wizard:

![projectgenerationwizard1](https://cloud.githubusercontent.com/assets/12715269/14604610/84f55de4-0542-11e6-968f-01dfc18b8599.png)
![projectgenerationwizard2](https://cloud.githubusercontent.com/assets/12715269/14604614/87b48636-0542-11e6-9456-aedfed36e611.png)
![projectgenerationwizard3](https://cloud.githubusercontent.com/assets/12715269/14604618/8b33fa58-0542-1

[2016-04-18 13:07] SmithRWORNL commented on #184
New project wizards also cause this behavior. File -> New -> Other... followed by any choice that opens a wizard will crash ICE as described above.

[2016-04-18 13:08] SmithRWORNL commented on #186
I tried this on all my machines. There were no problems with package imports for Windows 7, Mac OS X Mavericks, and Fedora 22. Opening the wizard crashed ICE on CentOS, because of #184 , so I don't have any results for it.

[2016-04-18 13:50] jayjaybillings commented on #173
@arbennett Will you look at this please?

[2016-04-18 13:51] jayjaybillings opened #192 "Need to mirror ICE at eclipseice.ornl.gov"
We need to mirror the ICE builds from the Foundation at eclipseice.ornl.gov. @amccaskey should be able to configure a nightly pull to do this.

[2016-04-18 16:52] arbennett commented on #189
This also works for me on Linux.  I'm firing up a Windows VM to test this now, thanks.

[2016-04-18 16:54] arbennett commented on #186
Thanks @jayjaybillings and @SmithRWORNL.  I'm not seeing any errors on generation, and I do have `org.eclipse.ice.io.serializable` in the imported packages.  I've been using the `unstable-nightly` build.

[2016-04-18 19:02] arbennett commented on #189
![virtualbox_windows_18_04_2016_12_00_21](https://cloud.githubusercontent.com/assets/7518706/14616014/563c2986-055d-11e6-898b-763b60225b5f.png)

On Windows 10 with the `unstable-nightly` 32 bit version of ICE I am not able to reproduce this bug.  Have you tried a more recent build?

[2016-04-18 20:53] arbennett commented on #173
I'm looking at this, and have some concerns about it.  As it stands, updating the installer to use the eclipse.org download site will induce a certain amount of fragility.  It's mostly to do with naming conventions.  At eclipseice.ornl.gov we use `ice.product-linux.gtk.x86.zip`, and at projects.eclipse.org we use `ice-linux-gtk-x86-2.1.8.zip`.  There are a couple of notable differences,

1. One ha

[2016-04-18 20:57] arbennett commented on #167
It looks like this one was fixed, @amccaskey can we close it?

[2016-04-18 21:01] jayjaybillings commented on #173
I don't think it is an issue if @amccaskey fixes #192 before you fix this. You might ping him and see if he can knock that one out for you.

[2016-04-18 21:15] arbennett commented on #173
Roger that.  I'll tackle this when #192 is fixed.  Thanks.

[2016-04-18 21:30] jayjaybillings commented on #173
Well, don't just drop off! :-) Post a comment on #192 and then email @amccaskey to annoy him into fixing #192 for you. The squeaky gear gets the grease!

[2016-04-18 21:34] arbennett commented on #192
@amccaskey could you let me know when you fix this so I can get started on #173?

[2016-04-18 21:41] SmithRWORNL commented on #189
I'm still getting the bug on Windows 7 Enterprise Service Pack 1 with the unstable-nightly 64 bit version of ICE.

[2016-04-19 06:47] erwindl0 commented on #189
I also get the issue :
- windows 7 professional svc pack 1
- ice unstable-nightly 64 bit from http://eclipseice.ornl.gov/downloads/ice/unstable-nightly/20160418/

[2016-04-19 13:20] jayjaybillings commented on #174
@jarrah42 Can you take a look this please? It is holding up #192 and also #173. If you want to pass it off, please re-assign it and tell one of us how to do it.

[2016-04-19 13:59] amccaskey commented on #173
Working on it now. Wrote the script, running it through some tests.

[2016-04-19 15:01] jarrah42 commented on #174
https://projects.eclipse.org/projects/technology.ice/downloads

There is no master repo yet. The build is running now.

[2016-04-19 15:17] jayjaybillings commented on #174
I just pointed it to next while the master build runs. As soon as it is over I will direct it back to master.

[2016-04-19 16:59] arbennett commented on #189
Thanks Erwin.  I just tried it again with the 64 bit version of ICE on Windows 10 and still don't experience the issue.  I'm using Java 1.8.0_77 for reference; I've tried both 32 and 64 bit versions of Java as well.

As per Robert's email to the list the following setups were found to experience the bug:
* Windows 7 Enterprise Service Pack 1, Java 1.8.0_45-b15, using the unstable nightly from 4/18

[2016-04-19 17:39] amccaskey commented on #192
Fixed this with a script that nightly pulls down the builds at eclipse and copies them to eclipseice server.

[2016-04-19 17:39] #192 closed

[2016-04-19 17:39] jarrah42 commented on #174
Can switch back to master now.

[2016-04-19 19:21] jayjaybillings commented on #174
Done.

[2016-04-19 19:21] #174 closed

[2016-04-21 18:25] jayjaybillings opened #193 "Update Developer Menu Documentation to show how to create new projects"
On Apr 21, 2016, at 2:12 PM, John Eblen jeblen@acm.org wrote:

Hi

I followed chapter 6 in the user manual (on the developer menu) to create
a developer extension for GROMACS. When I finished, I was able to clone
GROMACS (C++) into ICE, but the project does not appear in the workspace.

There seems to be two problems:

1) GROMACS does not contain .project and .cproject files.

2) It is necessary t

[2016-04-21 18:25] jayjaybillings commented on #193
Hey John,

That’s a good catch, we should (and will) update the documentation to detail that. Basically, the default GitCloneHandler executes an action after the clone to import existing projects into the workspace - that is, projects that already have .project/.cproject files in them. If the project doesn’t, then we have to do a little more work to get them imported.

If you’re interested, check

[2016-04-22 16:48] SmithRWORNL opened #194 "ICE download page serving wrong version"
Today I downloaded ICE binaries from download.eclipse.org/ice/builds/next for both Mac and Windows, and I've noticed several regressions from ICE both as launched from a run configuration and from previous binaries downloaded from the same page on 4/18. This can be seen from the Developer Menu missing EAVP under Framework and a compilation error from org.bouncycastle.openssl not being in the defau

[2016-04-22 17:01] jayjaybillings commented on #194
Alex will fix this when he gets back.

[2016-04-22 20:45] #183 closed

[2016-04-25 14:13] #168 closed

[2016-04-26 14:10] jayjaybillings opened #195 "PainfullySimpleForm has wrong PSF Format link"
The PainfullySimpleForm has a broken link to the PSF Format.

[2016-04-27 17:59] jayjaybillings opened #196 "PlantComponentTester.java – references the “b******d Son of Eddard Stark"."
This needs to be fixed before our IC can pass review. I'll clean it up in a branch and push it to next.

Left by @jdeyton or @awoj!!!!!

Submitted by Sharon Corbett via email.

[2016-04-27 20:34] #196 closed

[2016-04-27 20:36] jayjaybillings opened #197 "Double check legal documents"
Sharon Corbett has approved ICE's Initial Contribution, but has asked that we double check all legal documentation before we try to release.

[2016-04-27 20:36] jayjaybillings commented on #197
The guide to legal documentation is here:

https://eclipse.org/legal/guidetolegaldoc.php

[2016-04-28 15:07] jayjaybillings opened #198 "CBI changes to parent pom.xml need documentation"
I'm working with a colleague right now and we're having trouble making heads or tails of the new CBI-specific code in ICE's parent pom. Please add some comments.

[2016-04-28 17:47] jarrah42 commented on #198
I've added some comments to the code I added. Let me know if that is adequate or if there is something specific you'd like.

[2016-04-28 17:55] jayjaybillings commented on #198
That's perfect. Thanks.

[2016-04-28 17:55] #198 closed

[2016-04-29 19:58] jarrah42 commented on #190
The nebula and EAVP repos should now be automatically added. Provided the user has the "Contact all update sites..." option selected,  this should now work as expected.

[2016-05-04 19:30] jarrah42 commented on #176
Seems to be failing in org.eclipse.ice.client.tests on every build now.

[2016-05-05 19:51] jayjaybillings commented on #155
I believe this was fixed, so I'm closing this. Please reopen if you encounter it again.

[2016-05-05 19:51] #155 closed

[2016-05-05 19:51] jayjaybillings commented on #91
I think this has been solved. @arbennett is this still a problem for you?

[2016-05-05 19:51] #91 closed

[2016-05-05 20:02] arbennett commented on #91
This is not a problem for me anymore.  Thanks for closing.

[2016-05-08 23:04] jayjaybillings opened #199 "ICE downloads page no longer shows "Show Directory Contents""
Our eclipse.org downloads page no longer shows the "Show Directory Contents" link since it is now using the mirror site. We need to reorganize our downloads so that the .zip files are at the top and the p2 site is in its own directory. It should be similar to:

http://eclipseice.ornl.gov/downloads/ice/unstable-nightly/latest/

This is critical. Right now none of our users can download ICE from the

[2016-05-09 00:16] jarrah42 commented on #199
This is already fixed, but is waiting for a successful build of ICE.

[2016-05-09 00:38] jayjaybillings commented on #199
Do we have documentation on how the move to the ICE downloads directory is configured? We need to have more than one person (you) that knows how to do this.

[2016-05-09 00:42] jarrah42 commented on #199
In the org.eclipse.ice.repository/pom.xml? That's where everything relating to the repository happens.

[2016-05-09 00:45] jayjaybillings commented on #180
Anytime you run into a bug with a line like "Since this plan would modify a core part of ICE's API, we thought it would be best to open an issue for discussion on how to deal with this test failure," just go ahead and assign it to me. I know that's what you are waiting for. ;-)

[2016-05-09 01:20] jayjaybillings commented on #199
Right, but I don't see something that says "This commands instructs the build to moves the files from the build directory to the download directory."

[2016-05-09 01:21] jayjaybillings commented on #199
Oh, wait. Sorry! I was looking at the parent. I see it in the repository pom now.

[2016-05-09 01:24] jayjaybillings opened #200 "Need to add dev documentation to wiki build article"
The wiki's build article should have a developer section that describes the layout of the poms used to build ICE so that it can be modified easier. For example, the instructions to properly configure the ICE download directory are in the repository pom, not the parent pom where one would expect. Seeing as intuition alone isn't enough to locate these things, a helpful guide is warranted.

[2016-05-09 01:33] jarrah42 commented on #199
I can add some more comments if that would make things clearer.

[2016-05-09 02:36] jayjaybillings commented on #199
That wouldn't hurt, but I also added #200 to address the larger build documentation issues.

[2016-05-09 02:44] #180 closed

[2016-05-09 14:44] jayjaybillings commented on #199
Confirmed that this is now fixed. Closing. Thanks!

[2016-05-09 14:44] #199 closed

[2016-05-09 22:23] jayjaybillings commented on #194
What's the status on this?

[2016-05-09 22:24] jayjaybillings commented on #172
@amccaskey Any chance you can tackle this one soon?

[2016-05-09 22:25] jayjaybillings opened #201 "Move data structures for January"
The data structures bundle and its tests need to be moved to Eclipse January.

[2016-05-10 01:48] jayjaybillings commented on #201
We need to do the normal rework and rename of the data structures bundle to prepare it for January.

We need to separate any parts that explicitly require org.eclipse.* pieces from those that don't at the new project lead's request.

There is a small number of random bugs that we have to address, like messed up documentation and other things.

[2016-05-10 13:49] SmithRWORNL commented on #194
Just downloaded a Windows version from the official download page and tested it. It's able to save the Mesh Editor, meaning it must be a recent build, so this looks solved.

[2016-05-11 13:18] amccaskey opened #202 "ICE Next MeshComponent fails to import MeshDescription"
I just updated to the latest in ICE next and resolved and reset the target (so it should have updated EAVP bundles).

I have a build error in MeshComponent saying that MeshDescription from viz.service.mesh.datastructures cannot be resolved.

Am I the only one? This is with just ICE plugins in the workspace, no EAVP bundles.

[2016-05-11 13:23] jayjaybillings commented on #202
I fixed this over the weekend. It works for me on both of my machines. Make sure that you "Reload" your target.

[2016-05-11 13:25] jarrah42 commented on #202
I have the error also. I tried reloading the target and rebuilding the plugin but the error persists...

[2016-05-11 13:27] jarrah42 commented on #202
Fixed now. I have the eavp plugins in my workspace, so I had to update them also.

[2016-05-11 13:33] amccaskey commented on #202
I got it fixed without any eavp plugins in my workspace. Reloading the target didn't work immediately, had to delete the repo for some reason, clone it again, and load the target. Error gone.

[2016-05-11 13:45] SmithRWORNL commented on #202
It seems that everyone now has a working version of the test and that a newly cloned instance will build. Can we consider this resolved and close the issue?

[2016-05-11 14:02] jayjaybillings commented on #202
I had to explicitly hit the "reload" button in the target editor so that it downloaded the latest bundles, but that fixed it for me.

[2016-05-11 14:48] amccaskey commented on #202
So this is fixed. Closing.

[2016-05-11 14:48] #202 closed

[2016-05-11 16:05] amccaskey opened #203 "ICE Master Hudson Build"
Is master supposed to be building periodically on hudson.eclipse.org?

Looks like the last build was from April 19.

[2016-05-11 16:06] amccaskey opened #204 "Building master branch Failure"
I just tried to build master and got the following failure:

ERROR] Cannot resolve target definition:
[ERROR]   Software being installed: org.eclipse.swtbot.eclipse.feature.group 2.3.0.201506081302
[ERROR]   Software being installed: org.eclipse.swtbot.eclipse.feature.group 2.4.0.201604200752
[ERROR]   Only one of the following can be installed at once: [org.eclipse.swtbot.eclipse.feature.jar 2.4.

[2016-05-11 16:07] amccaskey commented on #204
Should we not have a master build of EAVP that ICE master can use?

[2016-05-11 17:08] jayjaybillings commented on #203
I have setup all the builds so that they periodically poll the SCM for changes instead of building periodically.

[2016-05-11 17:08] #203 closed

[2016-05-11 17:09] jayjaybillings commented on #204
Yes we should.

[2016-05-11 19:10] amccaskey commented on #172
The bison files have been removed from ICETests, the tests have been updated in ICE next, and we will merge next into master in the next few days.

[2016-05-11 21:48] #194 closed

[2016-05-11 21:49] jayjaybillings commented on #176
Fixed.

[2016-05-11 21:49] #176 closed

[2016-05-11 21:52] #172 closed

[2016-05-11 21:53] jayjaybillings commented on #204
Actually, that gets a little complicated because then we end up needing to edit the target every time we merge. Probably best to leave it and just merge next into master.

[2016-05-11 21:53] #204 closed

[2016-05-16 23:52] arbennett commented on #173
This has been fixed.

[2016-05-16 23:52] #173 closed

[2016-05-16 23:52] #157 closed

[2016-05-17 21:36] SmithRWORNL opened #205 "ICE build cannot download required plugins"
The ICE build is currently unable to download all of its required maven plugins. Current builds are working only because of pre-downloaded plugins from previous working builds in our .m2 folders. In order to reproduce the bug, delete your computer's .m2 repository (be sure to back it up first), then clone a new version of ICE.

I have a partial fix that addresses the problem of the tycho-maven-plu

[2016-05-18 12:42] jayjaybillings commented on #205
Didn't @jarrah42 fix this yesterday?

[2016-05-18 12:44] SmithRWORNL commented on #205
The last commit I see for next was from a week ago. Was it in a branch?

[2016-05-18 12:46] jayjaybillings commented on #205
Oh, it was you in your branch. Go ahead and push your fix. Let's see what happens!

[2016-05-18 12:50] SmithRWORNL commented on #205
My fix wasn't working for me yesterday, and running it now it seems to be freezing the build. Let me investigate this a bit more, it may be something as simple as having needed to reboot my computer after deleting my .m2 directroy.

[2016-05-18 13:06] SmithRWORNL commented on #205
My fix is working on my Windows (the build was just taking longer than normal) but not on my Mac laptop that I haven't done as much with. I'll go ahead and commit my change to next and see if anything breaks, though it may require a reboot and/or to run maven clean install -U once to force plugin updates.

[2016-05-18 13:17] jayjaybillings commented on #205
Trying switching the version to 0.25 instead of 0.26-SNAPSHOT. The latest version of Tycho rarely works.

[2016-05-18 16:02] SmithRWORNL commented on #205
I found a working repo with 0.24.0, so we should be fine keeping our current version. I've put the change in next with commit a73f141a1b8bed759c91083883cb42782ebc4054 and we'll see if it builds.

[2016-05-18 16:49] jayjaybillings commented on #205
I don't like using mvnrepository.com. Why do we need to use it? Isn't Tycho 0.24 in Maven Central?

[2016-05-18 16:50] jayjaybillings commented on #205
And for that matter, just change the version if you need to as long as it works. Changing the version isn't something that only I can do...

[2016-05-18 18:08] SmithRWORNL commented on #205
I've switched it to the maven.org repo with commit 641fa9c4a558baa18ca9e56ceedf2190ec0d565c.

The version number per se wasn't the issue, it's just that the Eclipse Tycho repo skipped from version 0.23.0 to 0.25.0 for some reason, so I couldn't use our original version with it. 0.24.0 is in the official Maven repo and works fine, so there's no reason to change it.

[2016-05-19 18:47] SmithRWORNL commented on #205
The build is working again and I've corrected the same problem for EAVP's build.

[2016-05-19 18:47] #205 closed

[2016-05-25 15:17] jarrah42 opened #206 "Docker Configuration should not be on the default launcher"
This should be an optional component that can be added if needed.

[2016-05-25 15:20] jarrah42 opened #207 "Create a template RCP app that can be easily customized as a stand-alone frontend"
It would be nice to have an RCP app template that user's can add their item plugins to in order to create a standalone frontend for a specific code. The RCP app would just provide the ICE perspective will all the other menus and toolbars removed.

[2016-05-25 15:26] jarrah42 opened #208 "Provide a graphical form editor"

[2016-05-25 15:27] jayjaybillings commented on #207
We used to have this, but I wanted to have a fully dev-enabled version of ICE. Lately we have run into more users requesting that we drop all the developer stuff and get back to basics.

We also need to do this for better web support with RAP.

[2016-05-25 15:28] jarrah42 opened #209 "Check that tabbing between fields works on forms"

[2016-05-25 15:30] jarrah42 opened #210 "Replace hosts table with RemoteConnectionWidget"

[2016-05-25 15:34] jarrah42 opened #211 "Clicking go button on unsaved launcher form should display modal dialog"
This is one good case for using a dialog in order to prevent a launch using incorrect data.

[2016-05-25 15:34] jayjaybillings opened #212 "ICE Resources View should be reworked"
The ICE resources view should be reworked so that
1.) It extends the Common Navigator Framework and, preferably, the Project Explorer.
2.) It should no longer expand entries as folders to show provenance information. Instead, it should put all of that information in a separate file.

[2016-05-25 15:41] jayjaybillings opened #213 "Add information to the tutorials on command line arguments, API for MPI, using components"
John Eblen suggested that we add information to the tutorials on accessing command line arguments, using the setMPIEnabled() API calls and more information on using components.

[2016-05-25 15:41] amccaskey opened #214 "Issue with changing remote connection on JobLauncher"
Creating a new connection through the hosts table, launching, specifying connection details, all work. Afterwards, adding a new connection and launching does not ask for connection details, but executes successfully as before. Pretty sure that the same connection as before is being used. This bug should exists separate from the hosts table, which we plan to get rid of.

[2016-05-25 15:48] amccaskey opened #215 "Exception thrown when cancelling new connection dialog in JobLauncher"

[2016-05-31 22:37] jayjaybillings opened #216 "Need more mature control scheme in the Geometry Editor"
The Geometry Editor has very little in the way of useful controls. The basic controls should be similar to something like Blender, http://www.katsbits.com/tutorials/blender/basic-keyboard-mouse-movement-control.php.

[2016-05-31 22:39] jayjaybillings opened #217 "Add transparency to shapes in the geometry and mesh editors"
Neither the geometry editor nor the mesh editor allow me to make shapes partially or fully transparent. This is often necessary for working with complex designs so we should add it.

[2016-05-31 22:40] jayjaybillings opened #218 "Geometry editor needs intrinsic shape properties"
The geometry editor needs to be able to manipulate intrinsic shape properties such as radius, side length, etc. The Transformation View should be removed as it has little practical use.

This will require work on the data structures, which is on going.

[2016-06-01 14:34] SmithRWORNL commented on #216
Blender mouse controls were added to EAVP with commit 4d0e95a2d8cfb33ac9e8402c44cfe626d9eaec35.

I'll leave the bug open to give you a chance to ask for any additional camera features you may want (such as a way to reset, pitch, or yaw the camera.)

[2016-06-01 14:51] jayjaybillings commented on #216
Which Blender mouse controls were added? Blender has about a million different controls, so please point to some documentation on what you added specifically, preferably on the wiki or in one of the user tutorials.

[2016-06-01 15:15] SmithRWORNL commented on #216
@jayjaybillings
The ones on the page you linked in the bug report. Specifically, holding down shift while dragging will move the camera about the 3D space and holding control while dragging up or down was added as a second way to zoom.

Updating the documentation is on my todo list for writing day.

[2016-06-01 18:24] SmithRWORNL commented on #217
Opacity support for JavaFX is unfortunately lacking. Setting an object to full opacity or full transparency works fine, but partial transparency has a problem.

![screen shot 2016-06-01 at 1 24 25 pm](https://cloud.githubusercontent.com/assets/12715269/15719137/89513322-27fc-11e6-8477-43ff163fbddc.png)

As you can see in the screenshot, JavaFX has no concept of transparent objects' depths, instead

[2016-06-01 18:52] jayjaybillings commented on #217
Yes, wireframe objects instead would be a good workaround for partial transparency. Let's provide that and full transparency.

[2016-06-06 16:23] arbennett commented on #113
This is fixed in the current nightly builds.

[2016-06-06 16:23] #113 closed

[2016-06-06 16:27] arbennett commented on #114
@jayjaybillings the wizard page now has toggles for Job Launcher and Model creation, but I'm a little bit unclear about what a basic Item would do.  I've also been thinking about if we could add an option to specify the "IO Format" with a drop down for all of the available IO services which would be used to get the Readers and Writers.

[2016-06-06 16:52] jayjaybillings commented on #114
Sounds good.

For the basic Item, what if I want to create something that is neither a model nor a JobLauncher? It is more of an advanced use case I suppose.

For the IO Formats, that would be great!

[2016-06-08 18:13] SmithRWORNL commented on #217
As of commit e804fdb71f5ebe2ee9b4bf0695756afbe3fb67e5 to the next branch of EAVP, a selected shape can now be set to wireframe or transparent mode via the use of a combo box in the Transformation View.

In the Mesh Editor, a polygon, edge, or vertex can be set to wireframe or transparent by selecting it in the Mesh Element View and choosing the desired option from the opacity combo box in its Prop

[2016-06-08 18:13] #217 closed

[2016-06-09 20:45] SmithRWORNL opened #219 "Nek5000 Model Builder isn't working"
I attempted to follow the tutorial at [the wiki](https://wiki.eclipse.org/Using_Nek5000_with_ICE). However, even after placing the conj_ht.rea file in ICEFiles/default/Nek500_Model_Builder and restarting ICE, new Nek5000 Model Builder Items are just a mostly empty form containing a drop down box with the text "No examples available." According to the tutorial, it should have populated the form to

[2016-06-09 20:55] SmithRWORNL opened #220 "Nek Model Launcher is failing to connect to remote host"
I attempted to follow the tutorial at [the wiki](https://wiki.eclipse.org/Using_Nek5000_with_ICE). After launching the job, I received the following standard error output:

Log of standard error collected by ICE for Nek5000 Launcher 2
Job launch date: 20160609_124716
Launch host: UltraFluffy
Target host: localhost
Command Executed: cp -r /home/username/nek5000-svn/examples/conj_ht/\* .;rm -rf obj/

[2016-06-22 19:49] jayjaybillings opened #221 "Input File box cannot be removed"
The Input File box in a Job Launcher cannot be removed. Even if it is removed, it will reappear once something is imported into one of the other boxes.

Importing will work if you pick a file of the designated type, but the input files box definitely reappears.

This was submitted by John Eblen at our ORNL Eclipse User Group Meeting today.

[2016-06-22 19:54] jayjaybillings commented on #221
Look for a cached copy or something.

[2016-06-22 19:59] jayjaybillings commented on #221
Note that

((DataComponent) form.getComponent(JobLauncherForm.filesId)).deleteEntry("Input File");

is what John is using.

[2016-06-22 20:46] #221 closed

[2016-06-22 20:48] jayjaybillings commented on #221
The solution to this was that John should call the JobLauncher.removeInputType() operation, which properly handles this situation. Calling the form directly circumvents some of the JobLauncher's mapping requirements.

[2016-07-07 12:17] jarrah42 opened #222 "Update ICE to Neon"

[2016-07-07 14:27] jayjaybillings commented on #222
Would you care to add a statement to this bug report or, perhaps, a stacktrace?

[2016-07-07 14:27] jarrah42 commented on #222
It looks like there is a problem with the item creation wizard under Neon...

[2016-07-07 14:28] jayjaybillings commented on #222
Wow... I think we posted across each other there!

[2016-07-07 15:01] jarrah42 commented on #222
java.lang.NullPointerException
	at org.eclipse.pde.ui.templates.AbstractNewPluginTemplateWizard.getDependencies(AbstractNewPluginTemplateWizard.java:126)
	at org.eclipse.pde.internal.ui.wizards.plugin.NewProjectCreationOperation.getDependencies(NewProjectCreationOperation.java:412)
	at org.eclipse.pde.internal.ui.wizards.plugin.NewProjectCreationOperation.createManifest(NewProjectCreationOperation

[2016-07-07 15:06] jayjaybillings commented on #222
Interesting. So are you getting this during the build or when you run the binary? I think this should only be a problem in the latter case.

[2016-07-07 15:56] jarrah42 commented on #222
The project generation test fails during the build, but I think this is because of the NPE. The stack trace was obtained by running the binary and manually creating an item.

[2016-07-07 15:58] jarrah42 commented on #222
I may have inadvertently broken something, as I had to play around with the included plugins to get it to build for neon. There appear to be quite a few changes to the features/plugins in some of the components included as part of the build. I'll take another look at this to see if I can minimize the changes between mars and neon.

[2016-07-08 13:19] jayjaybillings opened #223 "jay/january/org.eclipse.january.form.feature is missing about.html"
The org.eclipse.january.form.feature bundle is missing the about.html file in the jay/january branch.

[2016-07-08 13:41] SmithRWORNL commented on #223
I notice that the org.eclipse.ice.feature bundle also lacks an about.html file. Does it need one too?

[2016-07-08 13:59] jayjaybillings commented on #223
Yes. Thanks!

All bundles need these files.

[2016-07-08 14:44] SmithRWORNL commented on #223
Fixed by commit 2285e5e86a07e468783e3d8c0239e3f370ff4b43

[2016-07-08 14:44] #223 closed

[2016-07-08 19:39] jayjaybillings opened #224 "User can't create a new MOOSE kernel using ICE"
**From K.N. Ramachandran:**
Hello all,

I have just started becoming familiar with Eclipse ICE and obtained a Linux binary build using the Python install script. I am currently following the instructions at https://wiki.eclipse.org/Developing_MOOSE_Applications_with_ICE and I am having some trouble here.

I am stuck at the "Adding a Kernel" section. I am facing the following issues and I feel I fo

[2016-07-11 00:59] jarrah42 opened #225 "javax.ws.rs version"
The parent pom contains a filter to restrict the version of java.ws.rs:

&lt;filter&gt;
&nbsp;&nbsp;&lt;type&gt;eclipse-plugin</type&gt;
&nbsp;&nbsp;&lt;id&gt;javax.ws.rs&lt;/id&gt;
&nbsp;&nbsp;&lt;restrictTo&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;version&gt;1.1.1.v20130318-1750&lt;/version&gt;
&nbsp;&nbsp;&lt;/restrictTo&gt;
&lt;/filter&gt;

Does anyone know the reason for this? I've tried removing this

[2016-07-11 02:36] jdeyton commented on #196
You can trace it back to the original source at the sourceforge site (It was not me... You can see the initial contribution at https://sourceforge.net/p/niceproject/code/3704/tree/trunk/tests/gov.ornl.nice.reactor.plant.test/src/gov/ornl/nice/reactor/plant/test/PlantComponentTester.java).

Although I do take full responsibility for starting to add GoT references to the test code. :)

[2016-07-11 14:22] jayjaybillings commented on #196
The history on Sourceforge says it was @awoj! Mystery solved!

[2016-07-11 14:28] jayjaybillings commented on #225
I believe that is for some stuff that @amccaskey is doing. It used to be for some other stuff that we moved into the target.

[2016-07-11 14:43] jarrah42 commented on #222
I have the build working now. The main issue was thatICEItemTemplate now needs to implement getDependencies() so that it can return an empty array instead of the default null. This was causing the NPE.

[2016-07-11 14:45] jayjaybillings commented on #222
Will you point this out in your commit message so that I can look at the fix when it comes through? Thanks for taking the initiative on this, btw.

[2016-07-11 14:46] jarrah42 commented on #225
I'm going to take it out for now as it is no longer available in the latest Orbit build.

[2016-07-11 14:49] jarrah42 commented on #222
Are you ok if I commit this to next?

[2016-07-11 14:51] amccaskey commented on #225
So this is an issue for us in that we use Jersey 1.17 which requires javax.ws.rs 1.1.1. I ran into this issue when integrating the Docker stuff awhile back - check out the discussion in

https://github.com/eclipse/ice/issues/156

The DockerClient required Jersey 2.0 - which brought in javax.ws.rs 2+ which in turn broke our Real-Time Updating stuff.

Sounds like we want to remove the docker support

[2016-07-11 14:51] jayjaybillings commented on #222
The worst it will do is break it... ;-) Go ahead, but then as @amccaskey, @SmithRWORNL, @arbennett and @KasperGam to check the build.

[2016-07-11 14:52] jayjaybillings commented on #225
Well, we don't want to remove Docker support in general, we just don't want it to be a requirement for the tutorial. In fact, we will need it for the CADES work.

[2016-07-11 14:53] jayjaybillings commented on #225
And RENT work.

[2016-07-11 14:56] jayjaybillings commented on #225
RNET, not RENT.

[2016-07-11 19:06] SmithRWORNL opened #226 "Python Install script not working"
I've tried running the Install_ICE.py script on two different Linux machines. In both cases, I got the following output

Preparing to install ICE...

Downloading and installing:
  ICE
  VisIt
  HDFJava
Downloading ICE:
Traceback (most recent call last):
  File "Install_ICE.py", line 473, in <module>
    main()
  File "Install_ICE.py", line 466, in main
    pkg_files = download_packages(opts, os_ty

[2016-07-11 19:16] arbennett commented on #226
Where did you download the installer from?  It was updated so that it shouldn't download HDFJava anymore, so I'm thinking you've got an old version pointing to the SourceForge hosted builds.

[2016-07-11 19:18] amccaskey commented on #226
Looks like its updated in next but not master yet. Master still references the incorrect package names ice.product*

[2016-07-11 19:19] SmithRWORNL commented on #226
@arbennett We have links to two different scripts on our Getting ICE page, one that goes to eclipseice.ornl.gov, and one that goes to github. I tried the ornl.gov version, so I'll try the one from the Github link next and update the wiki if it works.

[2016-07-11 19:34] arbennett commented on #226
I just looked through the one on eclipseice.ornl.gov and it is an old version.  @amccaskey are you the one to ask to update it?

[2016-07-11 19:36] amccaskey commented on #226
Yea I can do that.

[2016-07-11 19:37] SmithRWORNL commented on #226
The version on Github worked for me. I did get the following error on my machine before I updated my Python version:

File "Install_ICE.py", line 186
    info = {k.lower():v for k,v in dict{u.info()).items()}
                                     ^
SyntaxError: invalid syntax

So it may be worthwhile to investigate and document what the minimum required version of Python to run the script is.

[2016-07-11 19:38] amccaskey commented on #226
I just updated the script on eclipseice.

@SmithRWORNL what machine was that on and what version of python?

[2016-07-11 19:42] SmithRWORNL commented on #226
Stampede and it failed with Python 2.6.6. Updating to Python 2.7.9 resolved the issue.

[2016-07-11 19:45] arbennett commented on #226
Ooh, that's supposed to be caught [here](https://github.com/eclipse/ice/blob/next/org.eclipse.ice.installer/Install_ICE.py#L33-L44), but it's not catching.  I'll play around with it and try to get it to work.  The installer is only compatible with Python 2.7+.

[2016-07-11 20:00] SmithRWORNL commented on #226
I've run into another small issue. The script downloads VisIt 2.10.1, but the latest version of VisIt supported by EAVP is 2.9.2 (see eclipse/eavp#24)

[2016-07-11 20:05] arbennett commented on #226
@amccaskey this sounds like another one for you.  eclipseice.ornl.gov only has VisIt 2.10 on it.  I have the backup download of VisIt set to be version 2.9.1 in case eclipseice.ornl.gov is down.

[2016-07-11 20:13] amccaskey commented on #226
Working on it now.

[2016-07-11 20:57] arbennett commented on #226
@SmithRWORNL the 2.6 error message should now work as of d0a3cbb95721808de4c73cd8e4d3ef8879d1f8ca .  The issue was that dict comprehensions were not introduced until python2.7.  Note that the installer still does not support python2.6 due to standard library differences between versions.  Now you ought to get a nice error message telling you to upgrade to python2.7 or higher at least.

[2016-07-12 13:35] amccaskey commented on #226
@SmithRWORNL I've updated the visit directory on eclipseice with visit 2.9.2

[2016-07-12 13:36] amccaskey commented on #226
@arbennett you should have to update the script again to account for the new version numbers.

[2016-07-12 16:02] jarrah42 opened #227 "CoreException in org.eclipse.ease.ui.scripts"
This is in the error log:

!ENTRY org.eclipse.ease.ui.scripts 4 0 2016-07-11 17:32:25.363
!MESSAGE Invalid keyword handler detected: org.eclipse.ease.ui.scripts.handler.editorSave
!STACK 1
org.eclipse.core.runtime.CoreException: Plug-in "org.eclipse.ease.ui.scripts" was unable to instantiate class "org.eclipse.ease.ui.scripts.keywordhandler.SaveEditorHandler".
    at org.eclipse.core.internal.regi

[2016-07-12 16:03] jarrah42 opened #228 "Invalid value in Scripting > Shell preference page"
Selecting the Scripting > Shell preference page results in:

The currently displayed page contains invalid values

[2016-07-12 16:04] jarrah42 opened #229 "No Python scripting engine"
Python does not appear in the "Switch Scripting Engine" dropdown in the Scripting perspective

[2016-07-12 16:07] jarrah42 opened #230 "CoreException in org.eclipse.ease.ui.scripts"
This appears in error log:

!ENTRY org.eclipse.ease.ui.scripts 4 0 2016-07-11 17:32:25.363
!MESSAGE Invalid keyword handler detected: org.eclipse.ease.ui.scripts.handler.editorSave
!STACK 1
org.eclipse.core.runtime.CoreException: Plug-in "org.eclipse.ease.ui.scripts" was unable to instantiate class "org.eclipse.ease.ui.scripts.keywordhandler.SaveEditorHandler".
	at org.eclipse.core.internal.regist

[2016-07-12 16:46] #230 closed

[2016-07-12 16:49] jarrah42 opened #231 "ICE version"
Should we increment the ICE version for Neon?

[2016-07-12 16:51] amccaskey opened #232 "Implement Developer Menu Action for Launching Instance of ICE with new plugins"
It would be good for our tutorials if there was a one-click way for launching a new instance of ICE with new Item plugins added to the launch configuration.

[2016-07-12 17:00] jarrah42 commented on #232
It would be even better if it would generate an RCP app with the new plugins!

[2016-07-12 19:52] jayjaybillings commented on #231
Sure. Once next works, increment the version number to 2.1.9 and push it to master.

Our October Eclipse release will be 2.2.

Jay

Jay Jay Billings
Oak Ridge National Laboratory
Twitter Handle: @jayjaybillings
________________________________
From: jarrah42 <notifications@github.com>
Sent: Tuesday, July 12, 2016 12:49 PM
To: eclipse/ice
Subject: [eclipse/ice] ICE version (#231)

Should we increme

[2016-07-12 20:11] amccaskey opened #233 "Calling loadInput from setupForm in Model template"
https://github.com/eclipse/ice/blob/next/org.eclipse.ice.projectgeneration/templates_3.4/ICEItem/src/%24className%24Model.java#L92

I don't think this is what we want as our setupForm template for the to-be-created Model Item.

loadItem is for loading Items from existing input files and I don't think we should tie it to the setupForm method. We had fixed this before the last tutorial, but it seems

[2016-07-12 20:17] jayjaybillings commented on #233
It will probably break if you tie them together. I know I've had that happen a few times. I agree, we don't want it this way.

Jay Jay Billings
Oak Ridge National Laboratory
Twitter Handle: @jayjaybillings
________________________________
From: Alex McCaskey <notifications@github.com>
Sent: Tuesday, July 12, 2016 4:11 PM
To: eclipse/ice
Subject: [eclipse/ice] Calling loadInput from setupForm in Mo

[2016-07-12 20:19] amccaskey opened #234 "Update ICE Item Generation Classes to use org.eclipse.core.resources"
We need to update the Item generation stuff and remove use of java.nio.file. We should be using IFile, IProject, etc from org.eclipse.core.resources. That way updates to files are handled correctly when we do a project.refreshLocal()

[2016-07-12 20:33] jarrah42 commented on #231
Any reason not to make next 2.2 now?

[2016-07-12 20:45] amccaskey commented on #232
addressed in eb871f4a511325b2a96aada588592c801bc3ec16

[2016-07-12 20:46] amccaskey commented on #233
addressed in d6c1adea01c9f7c7e9eef935ae707de3d782cb96

[2016-07-12 22:09] jarrah42 commented on #228
Seems to be caused by #229

[2016-07-12 22:09] jarrah42 commented on #229
Fixed.

[2016-07-12 22:09] jarrah42 commented on #228
Fixed.

[2016-07-12 22:10] #229 closed

[2016-07-12 22:10] #228 closed

[2016-07-12 22:11] jarrah42 commented on #222
Next is now Neon

[2016-07-12 22:11] #222 closed

[2016-07-12 22:13] jarrah42 opened #235 "Integrate o.e.remote with JobLauncher"

[2016-07-12 22:57] arbennett commented on #233
There is a problem with the fix where if you just create the item from scratch via the `+` button in the ICE perspective nothing will come up since the form has no components.  To make it work with the current setup we need to have some other method being called that loads up the default dataset then.

The `loadInput(null)` call was to load the default dataset provided when creating the item via t

[2016-07-12 23:10] arbennett commented on #226
Updated in 850a3a58ab74ee243891fb00aad8b6bedff900ee

[2016-07-13 13:03] jayjaybillings commented on #231
Yes, as I explained previously (the last time you asked that! ;-)), our versioning for the current 2.x line of ICE is controlled by two things:
1.) The commitments we've made to DOE in the past about version numbers and releases, which means we have to release greater than 2.1.
2.) What I perceive as our progress towards a release with the Foundation and exit from incubation, which means that once

[2016-07-13 13:05] jayjaybillings commented on #235
Will you provide some more details on this please? I assume you mean combining the PTP launch stuff with our job launcher?

[2016-07-13 13:19] jayjaybillings commented on #233
I reviewed what you wrote @arbennett. In principle, it is keeping with the API documentation that loadInput is for loading from files, but 95% of it is about loading defaults. That code is better placed in an operation called loadDefaults, which might be something that we should consider offering on the base class. Furthermore, such code will essentially drop new developers off the deep end of the

[2016-07-13 13:23] jarrah42 commented on #231
Are you planning to make a 2.1 branch? That would seem to be the only reason not to set the version to 2.2 and just consider it a pre-release version until the official release. It just seems a waste of time to change everything to 2.1.9 and then later to 2.2 when we're not having an actual release in the mean time.

[2016-07-13 13:31] jayjaybillings commented on #231
We are doing a 2.1.9 release, but it will be through ORNL at eclipseice.ornl.gov, not the Foundation. We put all of our releases there, (although 2.1.7 vanished...). Note 2.1.8 was in November and the reflectivity release was in May.

I don't think it is a waste of time for the reasons I listed above.

It probably makes sense to do a 2.1.9 branch, yes, but as I said, there are the other reasons I

[2016-07-13 16:49] arbennett opened #236 "Consider a loadDefaults() method in the Item base class"
As per the discussion in #233 it is sometimes desireable to provide a way to load default data to a newly created item.  In the discussion it was decided that currently there's not a straightforward and correct way to accomplish this.  By adding a `loadDefaults()` method a part of the `Item` class we coulld provide a standard way to do this.

[2016-07-13 16:51] arbennett commented on #233
Thanks @jayjaybillings that makes sense.  I've created #236 to discuss how we should handle this in the semi-near future.

[2016-07-13 21:56] jarrah42 opened #237 "Default workspace location"
I'm confused about the workspace location settings. The product configuration sets osgi.instance.area.default=@user.home/Documents/workspace, but the launch arguments specify "-data @noDefault". The upshot is that (for OS X anyway), the workspace location ends up being inside the application bundle. I tried removing the "-data" argument and it works properly. I'm assuming that the "-data" option w

[2016-07-13 21:58] jarrah42 opened #238 "Remove bundles to avoid bloat"
The ICE app weighs in at almost 900MB (OS X). We should remove some bundles that are unlikely to be used to reduce the size. Jay mentioned EMF, but other suggestions appreciated.

[2016-07-14 03:12] jarrah42 opened #239 "Initial perspective"
Currently, when opening a new workspace, ICE starts by displaying the Resource perspective. I'm not sure this is really ideal. It seems like there are actually two perspectives that matter. The first is the PDE perspective, which is generally where you want to be when developing ICE, Items, etc. The other perspective is the ICE perspective, which is where you want to be when running an instance of

[2016-07-14 12:36] jayjaybillings commented on #237
Yes. In the past we have needed the -data argument to force the new workspace box to pop up. If you are going to remove it, be sure to check that it works
1.) with a clean build of ICE that hasn't been run before
2.) with all OSes from which you remove that argument in the launch configuration.

I'm not sure why the product configuration is setting the instance area default argument. I have previo

[2016-07-14 12:42] jarrah42 commented on #238
I've removed about 200MB of content, however we should really have a list of the functionality (and consequently the features) that are included. I'll open a separate issue on this.

[2016-07-14 12:44] jayjaybillings commented on #238
EMF is the biggest by far.

My philosophy on this has been to cram everything that scientific software developers would want into our build, but lately, as you say, ICE's size has become a serious issue. I think what would make the most sense - at least to me - is to put a short cut under the developer menu that will automatically try to install the following packages
* the EMF tools (~500MB)
* th

[2016-07-14 12:45] jarrah42 opened #240 "Reference list of ICE content"
We should really have a reference list of the content that is included in the ICE product. It is very easy to end up with a 900MB executable as we have seen, so it is important to have a good reason for each feature being included.

[2016-07-14 12:49] jayjaybillings commented on #239
Yes. Good point.

I've been thinking for the past couple of months that we might want to consider creating two separate ICE products, kind of like an "ICE Runtime Environment" and an "ICE Software Development Kit," where the former is just ICE+RCP and the latter is ICE with developer tools, which would now be configured as I mention in #238 with the developer menu doing the bulk of the work.

My t

[2016-07-14 12:51] jarrah42 commented on #238
It's a good idea to provide an easy way to add features. I'm concerned that the developer menu will become a bit of a pain to maintain, since we'll have to continually revise and update the content. Something like the marketplace would be a better long term solution. I think it would be worth looking at providing a simplified and/or customized version that references our content.

[2016-07-14 12:54] jayjaybillings commented on #240
Well, the reason is simple. We put things in ICE based on the following question: "Do Jay and @amccaskey, as prime examples of scientific software engineers, regularly use the capability inside Eclipse?" If the answer is yes, then it goes into ICE.

You are right, though: We definitely need to start listing what we cram in, which will help with the evaluation of what should and should not go into

[2016-07-14 12:57] jarrah42 commented on #239
We could do this by creating an ice.sdk.product. That way we can customize the content of the SDK vs. the runtime version.

[2016-07-14 12:58] jayjaybillings commented on #238
Yes, you are absolutely right. A separate/the marketplace makes perfect sense for existing Eclipse content.

What I haven't figured out yet is whether or not we can use the marketplace to pull in project source code like we do in the developer menu. I would love to have a little marketplace client in place of the lists we are making in the dev menu.

[2016-07-14 13:04] jayjaybillings commented on #239
Yes, that is what I meant. The more I think about it the more I think it might be ideal.

[2016-07-14 13:52] jarrah42 opened #241 "Add developer menu to import from local git repo"
I know Alex has already done this, but I want to track it.

[2016-07-14 13:54] jarrah42 commented on #241
Can we change the name to "Import Local Repository"?

Also, do we need "ICE" in all the menu items, since they are all under the "ICE" submenu?

[2016-07-14 13:54] jarrah42 commented on #241
I'm also still seeing the lifecycle errors. Not sure if you fixed that already.

[2016-07-14 13:55] jayjaybillings commented on #241
Agreed that it is a bit weird to include "ICE" everywhere in the submenu.

[2016-07-14 13:57] jarrah42 opened #242 "Remove "ICE" from all the menu items in the Developer ICE submenu"
Seems like this is redundant.

[2016-07-14 13:58] jarrah42 commented on #241
Opened #242

[2016-07-14 14:07] amccaskey commented on #242
Good idea.

[2016-07-14 14:48] jarrah42 commented on #241
Starting from a brand new workspace, I'm still seeing lifecycle errors. Looks like this may be specific to Mac/Windows?

[2016-07-14 14:49] amccaskey commented on #242
The extra ICE strings have been removed as of 08aa94d

[2016-07-14 14:49] #242 closed

[2016-07-14 15:29] SmithRWORNL commented on #241
I think the pom lifecycle management errors might not be related to the new import local repo action. I just downloaded the latest nightly, and I'm getting the errors after using the standard Clone Ice command in the Developer menu.

[2016-07-14 16:33] SmithRWORNL opened #243 "Mesh Element View cannot switch back to previous editors"
The Mesh Element View always displays the elements for the most recently created Mesh Editor. If two Mesh Editors are created, there is no way to go back to displaying the first's data.

[2016-07-14 17:08] jarrah42 commented on #237
addressed in ece712

[2016-07-14 17:15] jarrah42 commented on #239
I've split the product into two: sdk and runtime. The sdk is the one you download from eclipse.org and this will start up in the PDE perspective. The runtime one will launch as an instance and can also be used when customizing an application RCP (e.g. from a new Developer menu item). This will start up in the ICE perspective.

I've changed the name of the sdk executable to ICE_SDK, however we shou

[2016-07-14 18:06] jayjaybillings commented on #239
Okay. What branch is this in?

[2016-07-14 18:31] amccaskey opened #244 "Add SWTBot feature back to product"

[2016-07-14 18:35] jarrah42 opened #245 "Turn on line numbers by default"

[2016-07-14 19:28] jarrah42 commented on #239
next

[2016-07-15 20:21] jarrah42 commented on #245
Fixed.

[2016-07-15 20:21] #245 closed

[2016-07-15 20:22] jarrah42 commented on #244
Fixed.

[2016-07-15 20:22] #244 closed

[2016-07-15 20:29] jarrah42 commented on #235
Yes, the ICE job launcher should be able to use a PTP launch configuration to submit a job.

[2016-07-15 20:57] jarrah42 opened #246 "Remove -XX:MaxPermSize=1024M from launch"
MaxPermSize option was removed in Java 8.0

[2016-07-15 20:59] #246 closed

[2016-08-01 20:55] SmithRWORNL commented on #219
The documentation was incorrect, and I've updated our Nek5000 tutorial accordingly. As of commit 62dd75b31aed094cad15e722be81c0ba47680a7f the Nek5000 Model Builder is now working again.

[2016-08-01 22:55] jayjaybillings commented on #219
I reopened this because your fix broke the build, so it isn't working.

[2016-08-02 13:41] SmithRWORNL commented on #219
Build error fixed by commit ba1b0c19a98ddd9fbed2c331305afc1897968ff0

[2016-08-02 13:41] #219 closed

[2016-08-05 14:05] jayjaybillings opened #249 "ICE Restful web service is broken"
I'm running the 20160630 build of next and the restful webservice isn't working. @SmithRWORNL confirmed that it isn't running on his version of ICE either, so I don't know how long it has been broken.

This needs to be fixed immediately because the users are RNET are wanting to build on it.

[2016-08-05 14:21] amccaskey commented on #249
This is related to #225 and #156

[2016-08-05 14:22] amccaskey commented on #249
Quickly checked the mac run configuration - we have Jersey 1.17 running with javax.ws.rs 2.0.1. This is most likely the issue.

My solution would be to update our Jersey version to 2+

[2016-08-05 14:35] jayjaybillings commented on #249
Seems reasonable to me.

The test for this is if we can open a browser and go to localhost:8080/items and get an XML stream back with the list of available Item types. There is a basic test class in org.eclipse.ice.core.jaxrs.test that I think we need to test out in the build. We can redo it if we need to to be more like the JAX-RS tests on TASQC, which do a full client-server test using the Jerse

[2016-08-05 14:38] jayjaybillings commented on #249
So... this is weird... I was getting a 404 on my machine, and then it stopped working and now localhost:8080/ice pops up with the appropriate username and password request...

[2016-08-05 14:41] jayjaybillings commented on #249
So I was able to get it working, apparently just by restarting it a hundred million times...
![ice-webinterface](https://cloud.githubusercontent.com/assets/6378849/17440097/1e4a9476-5af9-11e6-8665-ce2cb43fe940.png)

[2016-08-05 14:42] jayjaybillings commented on #249
Or maybe going to the correct web address? localhost:8080 gives me a 404, but localhost:8080/ice behaves appropriately.

@amccaskey and @SmithRWORNL - Can you confirm that localhost:8080/ice works for you?

[2016-08-05 14:45] SmithRWORNL commented on #249
@jayjaybillings Both addresses are giving me nothing. I'll try opening up a few more instances and reply if any of them successfully access one of the pages.

[2016-08-05 14:47] jayjaybillings commented on #249
@SmithRWORNL What version does ICE say you are using in Help->About?

[2016-08-05 14:48] SmithRWORNL commented on #249
@jayjaybillings
Version: next
Build id: 20160802

[2016-08-05 14:50] amccaskey commented on #249
I'm running from the Mac run configuration and getting the same exception as #225 #156

java.lang.AbstractMethodError: javax.ws.rs.core.UriBuilder.uri(Ljava/lang/String;)Ljavax/ws/rs/core/UriBuilder;
	at javax.ws.rs.core.UriBuilder.fromUri(UriBuilder.java:119) ~[na:na]
	at com.sun.jersey.spi.container.servlet.ServletContainer.service(ServletContainer.java:649) ~[na:na]
	at javax.servlet.http.HttpS

[2016-08-05 14:51] amccaskey commented on #249
As per #156 this gets thrown bc of the different versions of javax.ws.rs (1.0.x worked, 2+ does not)

[2016-08-05 14:55] amccaskey commented on #249
I get the same exception downloading and running the 08-02-2016 build on Mac.

[2016-08-05 14:56] jayjaybillings commented on #249
So I think as per #156 we need to switch back to javax.ws.rs 1.x, right?

[2016-08-05 14:58] amccaskey commented on #249
@jarrah42 Did you remove it bc the Neon build wouldn't work with it?

[2016-08-05 15:07] amccaskey opened #250 "Update CoreTester.checkRealTimeUpdates to do an HTTP post"
Can/should we update this line of code

https://github.com/eclipse/ice/blob/master/org.eclipse.ice.core.test/src/org/eclipse/ice/core/test/CoreTester.java#L574

to do an actual HTTP Post instead of just calling the method on the iCECore reference? Seems like this would catch the problems discussed in #156 #249 #225

[2016-08-05 15:28] jarrah42 commented on #249
Yes, 1.x has been removed from Orbit. We need to update to work with 2.0.1

[2016-08-05 15:49] jayjaybillings commented on #250
It would probably be better to make it look like the TASQC tests and put it and other tests in the core.jaxrs.test bundle, which would then need to be added to the build.

[2016-08-05 15:50] jayjaybillings commented on #249
@amccaskey So have the Docker shaded plugins been updated to work with 2.0.1? That's why we dropped back to 1.x.

[2016-08-05 21:48] jayjaybillings commented on #249
@amccaskey told me that he didn't have any luck fixing this, so I'll take a look tonight or over the weekend.

[2016-08-07 19:59] #249 closed

[2016-08-07 20:00] #225 closed

[2016-08-07 20:00] #156 closed

[2016-08-12 12:49] SmithRWORNL opened #251 "Nek5000 Job Launcher is missing files in the Resources tab"
When running the Nek5000 job, the .nek5000 files generated by the visnek script are not being displayed in the Resources tab.

[2016-08-12 12:55] SmithRWORNL opened #252 "NullPointerException in in Nek5000 Job Launcher"
The Nek5000 Job Launcher is getting a NullPointerException when trying to use the input file generated by the Nek5000 Model.

[2016-08-12 15:06] SmithRWORNL commented on #252
This was a problem with how ICE was handling the input string. It was fixed by eclipse/ICE@2b25e1f771532544951ec308cdaeac2a752193ee

[2016-08-12 16:11] SmithRWORNL commented on #252
The FXMeshVizService was missing from EAVP. This caused the Model Builder to crash when it attempted to load the file into the Mesh Editor. This was fixed by eclipse/eavp@fa94f0cab0cb25d8449333f54670998855237a2e.

[2016-08-12 16:11] #252 closed

[2016-08-12 18:12] SmithRWORNL opened #253 "Improve ICEResourcePage default text"
The ICEResourcePage's default text should be expanded to include an explanation of the expected results of opening different kinds of resources (ie that some resources may be opened in new tabs or otherwise outside of the page itself.)

[2016-08-12 19:11] SmithRWORNL opened #254 "ICEResourcePage fails if browser is not available"
The ICEResourcePage will fail to display a resource without an error if the resource is neither a visualization nor a text file and ICE is being run on an operating system for which the internal web has not been set. The page should display an error message telling the user to set up their web browser and attempt to open files in a text editor as a fallback if no browser is available.

[2016-08-12 20:47] jayjaybillings commented on #254
I think the problem is that it tries to load an SWT Browser Widget, but instead it should get the Browser from the Eclipse Platform, which will switch between an internal and external browser. This bug came up a few years ago and I just ignored it because the person got the same fix as Ram.

[2016-08-12 21:55] jayjaybillings opened #255 "404 Not Found on eclipseice.ornl.gov"
The Eclipse ICE downloads page at ORNL is busted. The top few directories work fine, but the P2 site returns errors on its subfolders:
http://eclipseice.ornl.gov/downloads/ice/unstable-nightly/20160812/p2/features/

[2016-08-13 14:21] jayjaybillings opened #256 "All source bundles (not tests) need Required Plug-ins cleaned up"
We've gotten very lax on putting bundles in the "Required Plug-ins" part instead of the "Imported Packages" part of the Manifest. We should, to the extent possible, NEVER use Required Plug-ins.

[2016-08-13 14:23] jayjaybillings opened #257 "Create new feature for tool plugins"
We should create a new feature for tool plugins such that tools like VIBE, Nek5000, etc. are in a separate feature from the core. This will let us pull down the core bundles separately from the update site.

[2016-08-13 14:24] jayjaybillings commented on #256
I knew that we had done too much of this, but I discovered that it was a blocker when trying to do development off of our update site.

[2016-08-13 17:52] jayjaybillings opened #258 "EASE Jython engine CQ?"
Do we need a CQ for the EASE Jython Engine? What is the status of its IP?

[2016-08-13 21:54] jarrah42 commented on #258
Jython has been approved as works-with (CQ 9763). We probably need to move this to the dev menu.

[2016-08-15 13:04] jayjaybillings commented on #258
Yes. We can't have it in our target it if it is only Works-With.

Please catch up with @amccaskey to figure out how to get this in the Developer menu.

[2016-08-15 13:05] jayjaybillings opened #259 "EASE Jython needs to be moved from target to Dev menu"
The EASE Jython target needs to be moved to the Developer menu. As discussed in #258, it is only approved for a Works-With CQ and we cannot distribute it in our binary.

[2016-08-15 13:05] jayjaybillings commented on #258
Closing this bug since its purpose was only to document the status of the CQ. Opened #259 for the work.

[2016-08-15 13:05] #258 closed

[2016-08-15 17:09] SmithRWORNL commented on #253
Fixed by commit 3c2739c4e27546c04bfbceb6e1ad0a9b8b40ec71.

[2016-08-15 17:09] #253 closed

[2016-08-15 17:10] SmithRWORNL commented on #251
Fixed by commit 3c2739c4e27546c04bfbceb6e1ad0a9b8b40ec71.

[2016-08-15 17:10] #251 closed

[2016-08-15 18:41] amccaskey commented on #255
The script is working - this is happening because there are no binaries at http://download.eclipse.org/ice/builds/next/ice-*-2.1.8.zip

Looking at the build and validating the archiving of products I get this:

<img width="1323" alt="screen shot 2016-08-15 at 2 40 33 pm" src="https://cloud.githubusercontent.com/assets/827531/17675097/3071a14e-62f6-11e6-8712-845676ab53d0.png">

Maybe because we hav

[2016-08-15 18:46] amccaskey commented on #255
I see - our products are now named

ice.runtime.product-*.zip and ice.sdk.product-*.zip

[2016-08-15 18:51] amccaskey commented on #241
this was implemented in b642957173432fe16a59691fb41cb4170187db3f

[2016-08-15 18:52] #232 closed

[2016-08-15 18:53] #241 closed

[2016-08-16 18:42] jayjaybillings opened #260 "Need to be able dynamically populate the remote hosts in response to resource manager"
OSC needs the ability to reconfigure the hosts table based on the availability of resources according to a resource manager. This could look like a reconfigure on start or through a service using the remodeled JobLauncher that will include more of the PTP Parallel Application Launch Configuration.

[2016-08-23 14:02] jayjaybillings opened #261 "Add OSGI remote service support for ICore service"
Ram has requested that we add support for the ICore service to be published as a remote OSGI service. Sounds like fun, so I created a branch on it. Ram is going to look at it with us.

[2016-08-23 14:05] jayjaybillings opened #262 "Add support for connecting to remote cores in the client"
We need to add support in the client for connecting to a remote core.

Once upon a time we had this in the "ConnectCoreAction." Perhaps we can reenable that button? I don't think we will need to use the remote core proxy though because the OSGI remote service infrastructure should be encapsulating all of that.

Instead of only having the button and manually switching, it would be nice to actually

[2016-09-01 12:17] jayjaybillings opened #263 "Build is hosed in jay/rap and junit plugin tests in workbench fail"
I have removed all of the require bundle statements in a new branch called jay/rap. I fixed many bugs, but unfortunately there is some real weirdness now. The tests fail on the build and junit plugin tests hang in the workbench. The latter might compete for a single test after three minutes.

The best that I can think of is that the lack of strict requirements of bundles is causing the dependent c

[2016-09-01 15:11] jayjaybillings commented on #263
Okay, the workbench bug for Junit seems to be separate because it happened in a clean workspace on next. :(

[2016-09-01 16:06] jayjaybillings commented on #263
This might be a neon bug. I ran the same test in a new install of PDE and it took 3min for a test that should have been seconds. Dependency resolution me thinks.

[2016-09-08 14:05] SmithRWORNL opened #264 "Giving focus to 3D editors blanks the Properties View"
The Geometry and Mesh Editors can only display the Properties View for their data while the Shapes or Mesh Elements View, respectively, have focus. This means the user has to click back to the tree view to reopen the properties every time they interact with the graphical canvas.

[2016-09-10 20:59] jayjaybillings opened #265 "Need branch discussion in README"
We should talk about our branch policies in the README and reference that discussion in the CONTRIBUTING document.

[2016-09-15 19:04] jayjaybillings opened #266 "Raise a workswith CQ for ICETests"
We need to raise a workswith CQ for our tests to make it clear that we are using them. This was discussed in the ICE IC CQ, number 8577, but I think I just forgot about it.

[2016-09-19 11:05] jayjaybillings commented on #261
Ram has this working in his fork and has asked if there are sub tasks. I think there are several:
1.) Figure out if it is possible to touch the service with curl, wget, or the like and try it.
2.) See if the full mvn build works.
3.) Remove the client from the build and change the ice.product to run headlessly (i.e. - without a UI.)
2.) If RNET wants to contribute this back to ICE, then he should

[2016-09-20 16:20] SmithRWORNL opened #267 "Find LAMMPS example"
Identify a LAMPS example for the ADIOS in situ visualization work.

[2016-09-20 16:22] SmithRWORNL opened #268 "Add remote ADIOS capability"
Find a way to communicate with ADIOS on a remote machine, either through adding it to PTP or by implementing a remote OSGI service which can be hooked into from ICE.

[2016-09-30 01:45] jayjaybillings opened #269 "ICE needs an Oomph profile"
See this bug for more information on how to hook ICE up to Oomph.

https://bugs.eclipse.org/bugs/show_bug.cgi?id=500038

[2016-09-30 01:49] jayjaybillings opened #270 "Update Javadoc"
Our Javadoc needs to be regenerated for the release, posted, and linked on the Wiki. The current links are broken and/or out of date.

[2016-09-30 01:51] jayjaybillings opened #271 "Update wiki pages"
Review and udpate the wiki pages before the release. ORNL publication services people are working on this as well.

[2016-09-30 01:55] jayjaybillings opened #272 "Update the ICE web page"
The ICE web page needs to be updated before the release. I am working with the ORNL graphics arts team to figure out the new design and then we can update it.

[2016-09-30 01:56] jayjaybillings commented on #272
We are hoping to make it look like the website for Eclipse Che or Scout.

[2016-10-07 18:16] SmithRWORNL commented on #270
I've generated the Javadoc for ICE and EAVP. The old version was hosted on sourceforge, but I'm not sure where you'd prefer we host the new Javadoc.

[2016-10-07 19:49] jayjaybillings commented on #270
Ideally we would host them at eclipse.org, but the web team isn't fixing my credentials. How big are they? Could we cram them in a the repos? If not, we will upload them to eclipseice.ornl.gov/downloads/ice and point to them.

Jay Jay Billings
Oak Ridge National Laboratory
Twitter Handle: @jayjaybillings
________________________________
From: SmithRWORNL <notifications@github.com>
Sent: Friday, Oc

[2016-10-07 19:52] SmithRWORNL commented on #270
They're 30MB and 45MB. Is that small enough for them to go in the repos? If not, I don't think I have access to upload on eclipseice.ornl.gov

[2016-10-07 19:55] jayjaybillings commented on #270
That's too big. We'll need to upload them. I'll email you.

Jay

Jay Jay Billings
Oak Ridge National Laboratory
Twitter Handle: @jayjaybillings
________________________________
From: SmithRWORNL <notifications@github.com>
Sent: Friday, October 07, 2016 3:52 PM
To: eclipse/ice
Cc: Billings, Jay Jay; Mention
Subject: Re: [eclipse/ice] Update Javadoc (#270)

They're 30MB and 45MB. Is that small enoug

[2016-10-10 17:09] SmithRWORNL opened #273 "eclipseice.ornl.gov is no longer fetching executables"
Since ICE was changed to version number 0.1.1, eclipseice.ornl.gov has only been mirroring the p2 repository from eclipse.org, not the products.

[2016-10-12 13:03] jayjaybillings opened #274 "Add automatic error reporting"
We need to add automatic error reporting to ICE. Here is what Marcel Bruch suggests:

I had a quick check on the ICE product contents. To me it looks like you can just add AERI to your product [1] as we do for the EPP packages (if you do not have any additional constraints). Then, we just have to configure an ICE project at dev.eclipse.org and you are good to go.

[2016-10-14 11:57] jayjaybillings commented on #273
@amccaskey Can you fix this please? It would be good to have this fixed early in the week because the release is on Friday.

[2016-10-16 15:54] jayjaybillings commented on #272
I just finished the first pass at this, but I need to wait for the Foundation to tell me whether or not I can use the new logo before I push it.

[2016-10-17 14:23] amccaskey commented on #273
I've update the versions in the download URLs in the mirror script on our dev server. Running now, downloads taking forever, but I think it should be good to go.

[2016-10-17 15:20] amccaskey commented on #270
I have posted the ICE javadocs at http://eclipseice.ornl.gov/downloads/ice/javadoc.

[2016-10-17 18:53] SmithRWORNL commented on #270
Updated the Eclipse wiki to point to the new javadoc site.

[2016-10-17 18:53] #270 closed

[2016-10-18 17:24] jayjaybillings commented on #271
ORNL's Sam Crawford is going to join our team for a few hours a week to help with this, but it will not be done before the release. I'll close this ticket for now and we can add new ones as Sam comes up to speed

[2016-10-18 17:24] #271 closed

[2016-10-18 17:25] jayjaybillings commented on #273
This looks like it is working. As for the slow downloads, you should pull them from a mirror site instead of from the Eclipse servers directly.

[2016-10-18 17:25] #273 closed

[2016-10-18 17:54] jayjaybillings commented on #274
I added the dev.eclipse.org entries for ICE and EAVP.

[2016-10-18 18:10] jayjaybillings commented on #274
Added to the target and product. Done.

[2016-10-18 18:10] #274 closed

[2016-10-19 18:00] SmithRWORNL opened #275 "Test Parallel Job Launch for Oomph installation"
The Oomph installed version of ICE needs to be checked to see if the parallel job launching functionality is working.

This can be done by running the Eclipse Installer, changing to Advanced Mode, selecting Eclipse for RCP and RAP Development, and hitting next. On this screen, download the ICE Oomph profile from https://raw.githubusercontent.com/eclipse/ice/master/org.eclipse.ice.aggregator/ICE.se

[2016-10-27 19:32] SmithRWORNL opened #276 "ORNL download site is missing 2.2.0 release"
The folder, http://eclipseice.ornl.gov/downloads/ice/releases/ICE2.2.0/ , which should contain the zip files for the 2.2.0 release executables is empty.

[2016-10-27 19:34] jayjaybillings commented on #276
@amccaskey Did you configure the download script yet?

[2016-10-28 15:41] jayjaybillings opened #277 "Fixed "developer" typo on ICE web page"
Morgan McCorkle noticed that the word "developer" should be "developed" on the ICE webpage in the first sentence.

[2016-10-29 14:19] jayjaybillings opened #278 "Saved JobProfileEditor fails to load"
Wei (Mark) Jin reported the following:

Here I came across a new problem on Job Profile Editor :

I created a new Job Profile using dir.exe on Windows 7 X64, then restarted ICE, click new Item, found new job profile I created, double click and a error dialog came out as "java.lang.ClassCastException: com.sun.org.apache.xerces.internal.dom.ElementNSImpl cannot be cast to org.eclipse.ice.datastructu

[2016-10-29 14:24] jayjaybillings commented on #278
It is worth noting that the JobProfileEditor has not seen a lot of love in the past few years, so likely this is simply a matter of properly updating it given the changes to the data structures and persistence engine. (Famous last words?)

[2016-10-29 14:36] jayjaybillings commented on #278
This fix should go on the 2.2.1 branch and then be merged into next and master.

[2016-10-29 14:38] jayjaybillings opened #279 "Write a branch policy statement"
Given our recent release and the need to maintain it, I need to write a branch policy statement.

[2016-11-04 20:35] amccaskey opened #280 "Some bundle poms at version 0.1.1-SNAPSHOT in master"
Some of the plugin pom files have their versions set to 0.1.1-SNAPSHOT. These should be 2.2.0-SNAPSHOT.

[2016-11-07 15:10] SmithRWORNL commented on #280
Fixed in the 2.2.1 branch by commit 8224b13d7bec630d4ce594975237eab8d3c92525.

[2016-11-07 16:41] jayjaybillings commented on #280
I'm reopening this. Has anyone checked with Ram to see if he still sees the issue on his machine?

[2016-11-07 16:42] jayjaybillings commented on #278
@SmithRWORNL or @amccaskey will you look into this please?

[2016-11-07 16:43] SmithRWORNL commented on #278
@jayjaybillings Looking into it right now. It seems that the JobLauncherForm is getting populated with an invalid data component that's causing a class cast exception when it gets copied.

[2016-11-07 16:44] jayjaybillings commented on #278
Oh, who would have written that code? #looksforascapegoat ;-)

[2016-11-07 16:46] SmithRWORNL commented on #278
According to the documentation comments, someone by the name of Jay Jay Billings. #lookinamirror

[2016-11-07 18:57] SmithRWORNL commented on #280
Ram replied and confirmed it was working for him as well.

[2016-11-07 18:57] #280 closed

[2016-11-07 19:16] SmithRWORNL commented on #278
Fixed by commit af75fe8882994601f8d0729ed24dcf03cd428f87.

[2016-11-07 19:16] #278 closed

[2016-11-07 19:31] jayjaybillings opened #281 "Review project page and wiki documentation"
We need to review the following pages:

https://projects.eclipse.org/projects/technology.ice
https://wiki.eclipse.org/About_ICE

[2016-11-07 22:49] jayjaybillings commented on #278
Fixed a bug with the SerializedItemBuilder where the
ICEJAXBClassProvider was not being used to get a full list of
unmarshalable classes.

[2016-11-07 22:51] jayjaybillings commented on #278
@SmithRWORNL Did you respond back to the emails on the list to let Mark know to try this out?

[2016-11-08 12:59] SmithRWORNL commented on #278
@jayjaybillings I just emailed him to let him know to try out the unstable nightly.

[2016-11-09 15:24] palculois opened #282 "[ice-dev] Usage of Core OSGI.launch"
Ram is attempting to figure out how to use the As->Core OSGi.launch file but he gets errors instead.

[2016-11-10 20:21] amccaskey opened #283 "Remove use of CMake in Moose Make Targets"
We should remove the use of CMake from our build targets for the Moose Dev menu actions. It should be changed to 'make -C framework'

[2016-11-10 20:39] amccaskey commented on #283
Sam is fixing this in the wiki documentation.

[2016-11-10 20:39] #283 closed

[2016-11-11 19:51] amccaskey opened #284 "Add functionality to Dev Menu to clone fork of ICE instead of ICE origin/next"

[2016-11-13 16:56] jayjaybillings opened #285 "Javadoc is hard to find"
Finding the Javadoc needs to be easier. It is currently buried far down the documentation page. It should be placed:
* Higher on the wiki, possibly on the main page.
* On the home page.

We may want to consider moving the Javadoc off of eclipseice.ornl.gov and into the Eclipse web space.

[2016-11-13 17:25] jayjaybillings opened #286 "Need a SuiteLauncher tutorial"
I'm trying to create a SuiteLauncher without looking at its source code and finding it difficult. Thus I think we need to build a tutorial for it.

[2016-11-13 17:30] jayjaybillings opened #287 "Need to add a tutorial on doing an installation to the host version of ICE"
I'm at SC16 and trying to add a SuiteLauncher for the KokkosTutorial to ICE. Everything has worked so far, in part because I am exporting my plugins to the host version of ICE where I wrote them. Tutorials on that process are available at

http://help.eclipse.org/kepler/index.jsp?topic=%2Forg.eclipse.pde.doc.user%2Fguide%2Ftools%2Fexport_wizards%2Fexport_plugins.htm

and

http://help.eclipse.org/k

[2016-11-14 15:31] amccaskey opened #288 "Mac OS X and Environment Variables"
Came across this problem with Sam the other day:

It appears that ICE (and any Java app) on Mac OS X does not by default read in the current users shell environment variables. Sam tried to invoke the Moose and Libmesh build targets in ICE, and it failed because variables like PETSC_DIR were not set. This bug is Eclipse wide it appears [#490816](https://bugs.eclipse.org/bugs/show_bug.cgi?id=490816)

[2016-11-14 17:33] jayjaybillings commented on #288
I don't think we can fix this. Even if we could, this is clearly a better task for @amccaskey than @SmithRWORNL, so I have reassigned it.

My concern here is that we probably can't modify the launcher script. There are several problems here related to signing, packaging and building. Have you seen any good examples from Eclipse bugs on how to fix this?

[2016-11-14 17:38] SmithRWORNL commented on #288
@jayjaybillings I've found a Maven plugin https://github.com/buchen/fix-info-plist-maven-plugin that can edit the info.plist to point to a script we package into the executable's content and though I hadn't started looking into signing yet I don't see a simple change in where the executable is being pointed as an insurmountable problem there, so it doesn't seem impossible in principle,

[2016-11-14 17:46] jayjaybillings commented on #288
I know it isn't impossible in principle, but what I'm saying is that it may not be impractical. Are there any bugs filed with Eclipse on this?

If the info.plist can be edited before signing, then there won't be a problem with the actual signing step. just make sure the script has its executable bit set before packaging and signing.

[2016-11-14 19:46] ds-ga-1007 commented on #288
Yes: https://bugs.eclipse.org/bugs/show_bug.cgi?id=490816

This has been a problem with the Mac version of Eclipse for a long time, since Apple has changed the way environment variables are handled by the Finder a number of times. It's also a problem in Linux, but not to the same extent. I don't think Java developers care very much since they don't tend to run external programs, hence it is not a

[2016-11-15 15:46] jayjaybillings commented on #288
Agreed - getting this in the launcher is the ideal solution. If you would be interested in pushing forward on that, I think it would be great.

As for ICE, @amccaskey and @SmithRWORNL, please do what you can and keep this ticket updated. If the plist solution works, then that is a "good enough for now" solution.

[2016-11-15 21:00] SmithRWORNL opened #289 "ICE Item persistence is mostly broken"
Most ICE Items are being persisted as empty .xml files. Only the Mesh Editor, PROTEUS Model, and SHARP Model can be persisted to xml and back correctly. The Nek5000 Launcher is also creating a non-empty xml file, but it is not valid.

[2016-11-17 23:53] jayjaybillings commented on #289
This works perfectly for me. See attached screenshot.
![screenshot from 2016-11-17 18-50-51](https://cloud.githubusercontent.com/assets/6378849/20412790/d546932e-acf6-11e6-82c3-29154c15c63b.png)

The XML editor shows the file on the left and the ICE editor shows the file on the right. This picture was taken after restarting ICE twice.

I am running this on my Fedora 24 box from the launch configur

[2016-11-18 13:07] SmithRWORNL commented on #289
I tested on Windows, using 20161110 and locally built executables, and @amccaskey , who first alerted me to the problem for VIBE Models, tested it on Mac, all to the same result. One of the problems is specific to the build, in that it effects only the built executable and not run configurations. o.e.i.persistence.xml was missing from the product, but adding it didn't fix the problem.

Check out t

[2016-11-18 13:22] jayjaybillings commented on #289
Robert,

Go ahead and merge your fixes into 2.2.1.

Also, please state clearly what you fixed and didn't fix in Robert/Persistence. We need a clear record of what broke and preferably commits that mention this ticket number. We also need to know what remains.

o.e.i.p.xml does not need to be in the product. At this point only a few things do need to be there and we actually have more in there than

[2016-11-18 13:30] SmithRWORNL commented on #289
I fixed a problem with VibeModel where a new transient variable had been added without having been given a JAXB annotation and a problem with ExecutableEntities that was causing Components including them to be improperly copied from the unmarshaled object to the instance being opened. These mean that the Reflectivity Model problem is the only persistence issue I'm still getting when run through a

[2016-11-18 17:07] jayjaybillings opened #290 "Re-add hosts table file for JobLaunchers"
We need to have the ability to change the default hosts in a JobLauncher at deployment time in addition to build time and run time.

Once upon a time we had this ability, but I dumped it years back. The simplest way to do this is to provide a file that lists the extra hosts and to read that file on startup. In the past this depended on on a hardwired path in the workspace, but I will configure thi

[2016-11-18 17:38] jayjaybillings commented on #289
Okay, I can now see this problem happening with the ICE 2.2.0 binary. (Which, ironically, is what I used to launch the run configuration! ;-))

I'll think about it over lunch and get back to you.

[2016-11-18 22:15] jayjaybillings commented on #289
@SmithRWORNL What changes did you make to the data structures bundle, if any? Keep in mind that we are switching to January and will have to port those changes. Please open a ticket to port any changes you made.

[2016-11-19 01:38] jayjaybillings commented on #289
See my commit note for information on how I fixed this. @SmithRWORNL will you please verify it for me please?

There were a couple of minor changes that will need to be ported to January, namely fixing the extension point schema and fixing build.properties. We can address those when we do the full migration.

[2016-11-19 12:07] ds-ga-1007 commented on #290
Won't the job launcher be using the hosts provided by o.e.remote? It would be better to do this only in one place rather than two.

[2016-11-19 12:08] jarrah42 commented on #290
That was me btw.

[2016-11-19 14:10] jayjaybillings commented on #290
Well, until this morning I was under the impression that the JobLauncher knew nothing about the IRemoteConnection interface, but I just noticed that it has creeped in. We could in principle just call

[code]

to get all the connection information, I think.

I am reluctant to do it that way though because PTP is preventing me from running the o.e.i.item bundle in RAP or doing remote connections hea

[2016-11-19 14:31] jarrah42 commented on #290
There shouldn't be anything in the o.e.remote bundles that prevents this. You may have to remove the ptp bundles until I can fix the dependencies.

[2016-11-21 13:24] SmithRWORNL commented on #289
@jayjaybillings The only change to the datastructures bundle I made was to add clone and copy operations to ExecutableEntry, as seen in commit 2cd5dea51e3c23aa40824a6ab20b6a7351a12eb4.

I've opened a bug, eclipse/january#25, to track migration of these changes into January.

I tested the new executable, and persistence is working except for the Reflectivity Model, in which the NatTable is empty.

[2016-11-21 15:39] jayjaybillings commented on #289
I think that Reflectivity thing justifies its own bug. Please open a ticket on it separately.

[2016-11-21 15:39] #289 closed

[2016-11-21 15:49] SmithRWORNL opened #291 "Reflectivity Models are improperly set up when opened from .xml files"
A Reflectivity Model can be persisted to .xml and reopened.  However, the NatTable in the model's page will  be empty and the different Components of the form will be listed on a separate page each once the .xml file is opened. This seems to be caused by the object getting an EclipseFormWidget instead of a ReflectivityEclipseFormWidget.

A workaround is to open the xml file, close the Model, then

[2016-11-21 20:21] jayjaybillings commented on #290
Greg Watson is going to take this.

[2016-11-21 20:30] jayjaybillings opened #292 "Need to update VIBE user manual section on ICE"
The ICE section of the VIBE document is out of date and needs to be updated.

[2016-11-21 21:03] jayjaybillings opened #293 "Add VIBE Docker image to dev menu"
It would be really nice to have the VIBE Docker image in ICE's' download menu. @dalg24 and I were talking about this at the VIBE meeting today.

@amccaskey do you think it would be possible to pull down the container and then do all the necessary configuration (add to Docker views, add PTP connection, etc.).

[2016-11-21 21:10] jayjaybillings commented on #290
Once you and @dalg24 (Damien) get a look at whether or not the preferences file switch works, then we can update the Launcher.

[2016-11-21 21:13] jayjaybillings commented on #291
Grr. Okay.

[2016-11-21 23:26] jarrah42 commented on #239
Completed.

[2016-11-21 23:26] #239 closed

[2016-11-21 23:29] jarrah42 commented on #237
Closing as fixed.

[2016-11-21 23:29] #237 closed

[2016-11-21 23:31] jarrah42 commented on #231
No further action required.

[2016-11-21 23:31] #231 closed

[2016-11-22 13:48] jayjaybillings commented on #282
Fixed in 7f3c549eb2f0c2691cf6481de34cd2a8a1f9df1d

[2016-11-22 13:48] #282 closed

[2016-11-22 13:48] jayjaybillings commented on #261
Fixed in 7f3c549eb2f0c2691cf6481de34cd2a8a1f9df1d

[2016-11-22 13:48] #261 closed

[2016-11-29 14:49] SmithRWORNL opened #294 "VIBE launcher needs input file error checking"
Currently, when an invalid file is specified and the job launched in VIBE, the form gets stuck in the "Processing Form..." stage. Instead, the launcher should detect when an invalid file has been supplied and return an error message.

[2016-11-29 15:57] SmithRWORNL opened #295 "Host table is requiring connection information to be reentered"
Entering an unrecognized connection name in the hosts table in an Item, then configuring the connection so that it fails, may result in the table forcing the user to re-input all the information for the connection every time the Item is processed, even after it has already been replaced by a valid connection in the table.

[2016-11-29 16:19] SmithRWORNL commented on #294
Fixed by commit 6fc1e33d8623b0d5e15b7a0272d74e424c645b55, which provides a basic check to see if the file can be parsed well enough to try to launch it, but does not completely validate the file as correct VIBE input.

[2016-11-29 16:19] #294 closed

[2016-11-29 17:04] klaskyhb opened #296 "'Destination Path Too Long' warning message during windows installation"
During the installation of eclipse/ice in Windows 10, I received the warning messages in the dialog windows in the attachment.
I’ve not tested eclipce/ice enough to find out the consequences of skipping the libraries in the attachment. When you click on the Cancel button, the whole installation is canceled. I wonder if that cancellation has any effects in the functionality of the eclipse/ice.

The

[2016-11-29 17:08] klaskyhb opened #297 "The ICE version is not populated in the About ICE dialog. It only says Version: next."
The ICE version is not populated in the About ICE dialog. It only says Version: next.
![image](https://cloud.githubusercontent.com/assets/4369008/20720275/8d3743dc-b62c-11e6-8068-7e849cae031b.png)

[2016-11-29 17:13] klaskyhb opened #298 "ICE XSEDE Tutorial, section 1.2.2 provide the location and the name of the executable file referred."
On ICE XSEDE Tutorial, section 1.2.2 it says: “To start ICE, double-click on the application executable to open up ICE.” However, no executable file name is mentioned. Documentation should provide the location and the name of the executable file that it is being referred.

[2016-11-29 17:17] klaskyhb opened #299 "ICE XSEDE Tutorial, section 4.4.1 typo: duplicated word 'the'"
ICE XSEDE Tutorial, section 4.4.1 typo at:

“4.4.1 Opening a Plot Editor
To open a Plot Editor, a ﬁle that uses this editor must ﬁrst be placed in the Project Explorer. This view lists ﬁles imported into ICE. To access the Project Explorer, use **the the** menu bar at the top of the window and navigate to Window → Show View → Project Explorer.”

[2016-11-29 19:40] jayjaybillings commented on #296
That would definitely mess up the reflectivity bundle in Eclipse ICE - I think - because it is turning off support for rendering glazed lists in nattable. I'm not sure what to do about it though.

@SmithRWORNL will you try to reproduce this please to make sure that is a general Windows thing?

[2016-11-29 19:41] jayjaybillings commented on #297
Good catch. @jarrah42 will you look at this with @klaskyhb please?

[2016-11-29 19:42] SmithRWORNL commented on #296
I can confirm it's happening on all Windows machines, though it only happens on one of the files for me, not both.

[2016-11-29 19:43] jayjaybillings commented on #298
@klaskyhb These files are in the doc/ folder of our directory. Would you be willing to try fixing this error on your own and issuing a pull request?  (See CONTRIBUTING.md for more info.)

[2016-11-29 19:44] jayjaybillings commented on #299
As I mentioned in #298 this would be a really good place for you to start making pull requests.

[2016-11-29 20:44] SmithRWORNL commented on #296
@klaskyhb What file path were you unzipping ICE to? I was able to avoid this problem by simply changing the target directory from "ice unstable 20" to "ice" on my desktop. I suspect you were using something longer, which would explain why I only get the error on a single .pom file while it was happening to two whole folders for you.

There is a way to opt in to using longer file paths in Windows 1

[2016-11-29 21:18] SmithRWORNL commented on #296
@jayjaybillings It doesn't seem to be affecting the Reflectivity Model at all. I deleted the entire "features" top level folder in ICE, and I can manipulate the nattable. Giving it a waveVector file and running with the default values gets it stuck in an endless "Processing Form..." state, but I'm getting the same behavior even with a complete installation, so either I'm doing something wrong or i

[2016-11-30 03:11] jayjaybillings commented on #296
@klaskyhb - Yes, I think that processing bug is a separate issue. We've had a lot of trouble with the Reflectivity bundle lately and I think it is probably in need of some maintenance. I'm glad to hear that the nattable seems to work though.

@SmithRWORNL - I think we should probably file a bug on Nattable too. The ultimate fix is not that we give users warning, but that the file names get changed

[2016-11-30 13:16] SmithRWORNL commented on #296
@jayjaybillings I've filed a bug at https://bugs.eclipse.org/bugs/show_bug.cgi?id=508443

[2016-11-30 13:35] SmithRWORNL commented on #295
User has confirmed that this was fixed by commit 8033cd128fc3effdeca4b66aed84b039aee34ee3

[2016-11-30 14:47] jayjaybillings commented on #295
I added some comments to the 8033cd1 commit. Please look at them.

[2016-11-30 14:48] jayjaybillings commented on #296
@SmithRWORNL Okay, great. Thanks! Please add a note on this to our "Known Issues" page on the wiki ( and delete anything there that looks old while you're at it! ;-)). You should link to this ticket and the new bug you've filed, then close this ticket.

[2016-11-30 14:50] SmithRWORNL commented on #296
@jayjaybillings They suggested that I try out NatTable 1.4.0 to see if the issue persists. I'll give that a shot before adding it to our wiki, but I'll clean up the Known Issues either way.

[2016-11-30 15:00] klaskyhb commented on #298
Yes, I will work in fixing this error on my own and issuing a pull request.

From: Jay Jay Billings [mailto:notifications@github.com]
Sent: Tuesday, November 29, 2016 2:43 PM
To: eclipse/ice <ice@noreply.github.com>
Cc: Klasky, Hilda B. <klaskyhb@ornl.gov>; Mention <mention@noreply.github.com>
Subject: Re: [eclipse/ice] ICE XSEDE Tutorial, section 1.2.2 provide the location and the name of the exe

[2016-11-30 15:03] SmithRWORNL commented on #295
Fixed commented out code issue with commit ec2e3d3640626d3cc9a6bcbf7b21f9c921ade403 and applied fix to 2.2.1 with commit 84ca59ee87938a62644fad330327d2452cfeec59

[2016-11-30 15:27] klaskyhb commented on #299
Yes, I will work in fixing this error on my own and issuing a pull request.

[2016-11-30 15:32] klaskyhb commented on #296
@SmithRWORNL: I received the ‘Destination Path Too Long’ dialog when installing the ICE_SDK executable in the following path:
C:\Users\kpf\Documents\ice.sdk.product-win32.win32.x86_64

When trying to extract the file in the root directory:
![image](https://cloud.githubusercontent.com/assets/4369008/20758550/2ce567cc-b6e8-11e6-8474-be387633d107.png)

I got the following warning message, only:
![ima

[2016-11-30 16:00] klaskyhb opened #300 "Java was started but returned exit code = 13, error on Windows"
I saw the following error message after double clicking the ICE_SDK ice.sdk.product-win32.win32.x86_64 on Windows 10 after installation. I couldn't reproduce it when a first saw it two weeks ago.

Somehow, I'm unable to run the ice.sdk.product-win32.win32.x86_64 again, I get the above error all the time. Surprisingly, the ice.sdk.product-win32.win32.x86 starts with no problem. Both, in a Windows 1

[2016-11-30 16:14] SmithRWORNL commented on #296
Fixed by commit 90fdfca564e776530267c6ed8c97e38b12fa8dd0, which switched to a version of NatTable which lacks the long file paths causing the issue.

[2016-11-30 16:17] jayjaybillings commented on #296
@SmithRWORNL I'm reopening this because you have version numbers for the nattable bundles in 90fdca.

[2016-11-30 16:19] SmithRWORNL commented on #296
@jayjaybillings Can you explain what the issue with the version numbers is? I'm afraid I don't understand.

[2016-11-30 16:19] jayjaybillings commented on #295
Thanks. You should ask @amccaskey to make sure this still works for his stuff.

[2016-11-30 16:20] jayjaybillings commented on #296
Something like this

[code]

needs to be

[code]

[2016-11-30 16:47] SmithRWORNL commented on #300
@klaskyhb Do you have multiple Java installations on this machine? Your java version is showing that it's a 32 bit version. Your java path may have been changed so that it's now defaulting to this 32 bit installation rather than the 64 bit version.

Try editing your ICE_SDK.ini file to include

[code]

right after the

`--launcher.appendVmargs`

line

[2016-11-30 16:51] SmithRWORNL commented on #296
Target version numbers have been corrected by commit d322eefaead223ac4c33038088e85e96f2f9bc10.

[2016-11-30 18:29] jayjaybillings commented on #296
Thanks @SmithRWORNL. Will you confirm that a build with the new target version numbers does not have the file errors?

[2016-11-30 19:13] jarrah42 commented on #259
I think we did this for a tutorial, but it should be simple to move it back. Any takers or should I do it?

[2016-11-30 19:35] SmithRWORNL commented on #296
@jayjaybillings Checked with both a locally built executable and with the latest nightly off the build server, and neither is experiencing the issue for what I would consider a reasonable installation directory, C:/Users/username/Desktop/ice.sdk.product-win32.win32.x86_64

Of course, since this is an issue with Windows, there will always be some degenerate case where the issue reappears.

[2016-11-30 19:42] jarrah42 commented on #297
Set by the releaseName attribute in the parent pom.xml. Typically this would be changed to an actual release name when it is known, but should stay as is in the next branch.

[2016-11-30 19:52] jayjaybillings commented on #297
Ah, I see. Okay, I'll close this since it isn't a bug.

Looking at this now I notice that @klaskyhb is using the XSEDE build. @klaskyhb you might want to update to 2.2 or the latest stable nightly.

[2016-11-30 19:53] jayjaybillings commented on #296
I feel like the use of the word "degenerate" is the best way to describe that operating system... ;-) Thanks. Closed!

[2016-11-30 19:53] #296 closed

[2016-11-30 19:53] jayjaybillings commented on #259
@jarrah42 It's all you.

[2016-12-01 02:01] jarrah42 opened #301 "Move next branch to Oxygen"

[2016-12-01 16:55] jarrah42 opened #302 "Fix malformed package names"
The org.eclipse.ice.core plugin contains the packages:

org.eclipse.ice.core.internal
org.eclipse.ice.core.internal.itemmanager

According to the [Naming Conventions](https://wiki.eclipse.org/Naming_Conventions#Java_Packages) these should be:

org.eclipse.ice.internal.core
org.eclipse.ice.internal.core.itemmanager

[2016-12-01 17:23] jarrah42 commented on #259
I thought that might be the case...

[2016-12-01 19:02] jayjaybillings commented on #302
Thanks for catching this. This bundle is due for an overhaul in the next few months, so we can take care of it then.

[2016-12-01 19:20] jayjaybillings commented on #302
Notice too that everyone one of our testing bundles is named incorrectly according to the naming conventions.

[2016-12-01 20:22] SmithRWORNL opened #303 "Add empty template to VIBE Key-Value Item"
The VIBE Key-Value Item should have a "None" template, to allow the user to to quickly create an empty table with none of the default values from the other templates.

[2016-12-02 13:53] SmithRWORNL opened #304 "Error notifying preference change listener on startup"
When ICE is started, an error dialog appears with two errors, both identical. The errors read:

"Error notifying a preference change listener. Check the log for details.
java.lang.NullPointerException"

The relevant part of the log seems to be

!ENTRY org.eclipse.ui.workbench 4 2 2016-12-02 08:30:44.218
!MESSAGE Problems occurred when invoking code from plug-in: "org.eclipse.ui.workbench".
!STACK

[2016-12-02 21:28] SmithRWORNL opened #305 "VIBE Key-Value Pair Item prevents input files from being modified"
When a file is imported into a VIBE Key-Value Pair object through the Import an Item button, the file is not released for editing after that point, even if the editor is closed and the Item is deleted. This is caused by the reader for the VibeKVPair not being closed when importing the file.

[2016-12-02 21:46] SmithRWORNL commented on #305
Fixed by commit 8ae7ae53c79341b1d19618781a79eff0a707be22.

[2016-12-06 19:23] #297 closed

[2016-12-06 21:36] klaskyhb opened #307 "The URIs mentioned in wiki page 'Forking Eclipse ICE' need to be consistent..."
The URIs mentioned in wiki page 'Forking Eclipse ICE' need to be consistent.

See eclipse ice wiki page at http://wiki.eclipse.org/Forking_Eclipse_ICE. In the latter page I found two occurrences in which the URI is not consistent.

1. In section 'Cloning the Fork Repository' where it says: '...but instead of https://**github.com**/eclipse/ice.git, use https://**github**/[your username]/ice.git as

[2016-12-07 13:52] jayjaybillings commented on #307
Thanks Hilda! Will you go ahead and edit those pages? You can log into the wiki with your eclipse.org account.

Jay

Jay Jay Billings
Oak Ridge National Laboratory
Twitter Handle: @jayjaybillings
________________________________
From: klaskyhb <notifications@github.com>
Sent: Tuesday, December 06, 2016 4:36 PM
To: eclipse/ice
Subject: [eclipse/ice] The URIs mentioned in wiki page 'Forking Eclipse

[2016-12-07 15:15] jarrah42 opened #308 "Remove unused dependency on internal package"
The org.eclipse.ice.item plugin has an unused dependency on o.e.remote.internal.jsch.core. This should be removed.

[2016-12-07 15:24] jayjaybillings commented on #308
Go ahead and remove it. Just work with @amccaskey to make sure remote launches still work after.

[2016-12-08 01:22] jarrah42 opened #309 "Make the Developer menu more flexible"
Currently the Developer menu provides a fairly rigid structure through the use of the org.eclipse.ice.developer.code extension point. The extension point assumes that all code elements will be related to a repository, and will fit into one of the predefined categories. The menu is also generated programmatically, so it is not possible to add menus through the normal org.eclipse.ui.menu extension p

[2016-12-08 02:05] jarrah42 commented on #309
#259

[2016-12-08 02:10] jarrah42 commented on #259
Depends on #309

[2016-12-08 13:28] jayjaybillings commented on #309
@amccaskey What do you think? If we are going to move on this then we need to do it soon because it is blocking #259.

@waynebeaton caught #259 in an IP log review, so we need to get it fixed sooner rather than later.

Overall, I agree with Greg's assessment. It isn't clear to me in the current scheme how I would add a bunch of custom Docker-related stuff, things that pull from SVN, or things that

[2016-12-08 18:50] amccaskey commented on #309
@jarrah42 I am totally open to improving on this mechanism. Feel free to take a crack at it.

I will say though that the extension points don't have to be associated with a repository (see BuildICEHandler, LaunchNewICEHandler). You can associate each developer extension with an AbstractHandler implementation - that's pretty extensible to adding new actions if you ask me. If someone points me to an

[2016-12-08 18:59] jayjaybillings commented on #309
Also, I don't think we need to rewrite the handlers. Basically all we need to do is rewrite the code that programmatically declares the menu, right?

[2016-12-08 19:25] amccaskey opened #310 "ICE Next blank Workspace Error notifying preference change listener"
Currently for our unstable build, starting a new instance of ICE with a new workspace displays error at startup (see picture). It says 'Error notifying preference change listener. NullPointerException' Here's the log:

[code]

This is high priority - issue VIBE currently has is fixed in next. With this fixed we can ship off ICE to them for their VM.

![screen shot 2016-12-08 at 2 03 33 pm](https:/

[2016-12-08 19:32] amccaskey commented on #310
Possibly related to - https://bugs.eclipse.org/bugs/show_bug.cgi?id=507006

[2016-12-08 19:38] amccaskey commented on #310
Oops, duplicate of #304

[2016-12-08 19:46] jayjaybillings commented on #310
The only way that I know of to fix this is to drop Mylyn or figure out if there are Mylyn bundles that are missing. @jarrah42 what do you think?

[2016-12-08 20:04] jarrah42 commented on #309
Right, this is using the existing handlers, just redoing the menus via extensions. See greg/devmenu branch for prototype.

[2016-12-08 20:14] amccaskey commented on #310
Removing *.mylyn.* from the ice_sdk.product file fixes this issue.

[2016-12-08 20:21] jarrah42 commented on #310
Oxygen M4 is next week. Presumably the change should be in that build, so is it worth waiting to see if it is fixed?

[2016-12-08 20:23] amccaskey commented on #310
I say we try to put the features back in then, only thing now is that the VIBE team needs a working binary for the release of there VM.

[2016-12-08 20:23] jarrah42 commented on #310
Fine by me.

[2016-12-08 22:40] jayjaybillings commented on #310
Let's leave this open until after the M4.

[2016-12-08 22:40] jayjaybillings commented on #304
Closing as a duplicate of #310.

[2016-12-08 22:40] #304 closed

[2016-12-08 23:02] jayjaybillings commented on #310
Sorry for the slow response on this going into next. Thanks!

[2016-12-12 20:32] SmithRWORNL opened #312 "VIBE Items are not imported correctly"
Importing a VIBE Item will often fail, falling back to the default values, due to problems with the way the IPSReader handles commented lines and a lack of support for some port types.

[2016-12-12 20:51] SmithRWORNL opened #313 "Problem adding new ports to VIBE Model Items"
Trying to add a new port to a VIBE Model Item in the Port Masters tab will produce incorrect behavior. Selecting the nth port type in the menu will instead create a copy of the nth port in the list of ports that the Item was loaded with, or an empty TIME_LOOP port if the original port list is not long enough.

[2016-12-12 20:51] SmithRWORNL commented on #305
The VIBE team has confirmed that this is working for them.

[2016-12-12 20:51] #305 closed

[2016-12-12 21:12] SmithRWORNL opened #314 "VIBE Model needs error messages when importing"
The VIBE Model should display an error message when there are problems loading, instead of only logging the error without alerting the user.

[2016-12-13 16:10] SmithRWORNL commented on #314
Fixed by commit 23ba459685057375c110fe9d37985726745d9a95.

[2016-12-13 16:10] #314 closed

[2016-12-15 13:13] SmithRWORNL commented on #299
Fixed by pull request #311

[2016-12-15 13:13] #299 closed

[2016-12-15 13:13] SmithRWORNL commented on #298
Fixed by pull request #311

[2016-12-15 13:13] #298 closed

[2016-12-15 13:17] SmithRWORNL commented on #276
This has been fixed.

[2016-12-15 13:17] #276 closed

[2016-12-15 13:21] SmithRWORNL commented on #191
If I remember correctly, this was an issue with having a less-than-current ICE install. It has been working for me on all my machines.

[2016-12-15 13:21] #191 closed

[2017-01-03 18:16] SmithRWORNL commented on #313
Fixed by commit 23ba459685057375c110fe9d37985726745d9a95

[2017-01-03 18:16] #313 closed

[2017-01-03 18:17] SmithRWORNL commented on #312
Fixed by commit d2ccc545af6b595031bd38d0a7b6d48c7caeb8a4

[2017-01-03 18:17] #312 closed

[2017-01-11 17:21] SmithRWORNL commented on #303
Added with commit 1055de553e0f73eda1582742b16d0a220d5fdfff

[2017-01-11 17:21] #303 closed

[2017-01-13 21:18] SmithRWORNL opened #315 "New remote connections are not saved on Windows"
The New Connection dialog (such as created from the MOOSE Workflow Item -> Browse... button -> New -> Remote) will not save the newly specified connection anywhere on Windows. This issue may be related to secure storage, since ICE on Windows is missing a prompt asking for its which appears in other OS when the dialog is closed.

[2017-01-15 18:49] jayjaybillings commented on #315
Probably a question for Greg.

Jay Jay Billings
Oak Ridge National Laboratory
Twitter Handle: @jayjaybillings
________________________________
From: SmithRWORNL <notifications@github.com>
Sent: Friday, January 13, 2017 4:18 PM
To: eclipse/ice
Cc: Subscribed
Subject: [eclipse/ice] New remote connections are not saved on Windows (#315)

The New Connection dialog (such as created from the MOOSE Workf

[2017-01-17 16:45] klaskyhb commented on #307
Fixed issue #307 as described above. Waiting for fix to be approved.

[2017-01-17 16:45] #307 closed

[2017-01-17 16:52] ds-ga-1007 commented on #315
Is this specific to Windows? I don't have access to a Windows box to test.

[2017-01-17 16:53] SmithRWORNL commented on #315
@ds-ga-1007 Yes, I tested on both Mac and Linux and was able to add connections, so it seems to be a Windows only issue.

[2017-01-17 17:38] jarrah42 commented on #315
Is secure storage working for other plugins?

[2017-01-17 17:46] SmithRWORNL commented on #315
@jarrah42 I can't think of any others that make use of it in ICE. There seems to be an org.eclipse.equinox.secure.storage entry that gets automatically populated and empty ones for two other plugins. Is there a way I can test it?

[2017-01-17 17:55] SmithRWORNL commented on #315
Deleting my secure storage file and restarting ICE allowed me to successfully add a connection.

[2017-01-20 17:58] klaskyhb opened #316 "Updated ICE team daily meeting timeon wiki pages..."
On page: https://wiki.eclipse.org/ICE_Development_Process_and_Guidelines
it says: "The ICE team meets daily at 13:30 Eastern Time... ", actually, we meet at 2:00 PM EST now.

[2017-01-25 18:05] SmithRWORNL opened #317 "Add remote file visualization for VisIt Plot Editors"
There should exist a way in ICE to specify a remote file for a remotely connected VisIt session to open. Currently, the only way to open a file in a Plot Editor is to import it into the workspace and double click it, meaning that remote files can only be visualized via remote connections opened through the Visualization Perspective.

[2017-01-25 18:06] SmithRWORNL opened #318 "Remove the Visualization Perspective"
The Visualization Perspective has been superseded by Plot Editors relying on EAVP services and needs to be removed from ICE.

[2017-01-25 20:07] anarak opened #319 "On Fedora 25 importing local repository to ICE generated 65 errors"
One of the errors is about incomplete build path (or simply not referencing it properly). This issue could probably be about misconfigured project.

[2017-01-25 20:33] SmithRWORNL commented on #319
We looked at this and it was a problem with using an old version of the repo (from the XSEDE tutorial) with a newer version of ICE.

Anara, let me know how the new repo works out and I'll close the ticket if there are no further errors.

[2017-01-25 20:38] SmithRWORNL opened #320 "Add tutorial for general new users"
All of our current tutorial materials (e.g. for XSEDE), are written from the assumption that the reader will have our tutorial specific version of ICE with all required data files and programs and a pre-populated workspace on one of our USB sticks.

We need a more universal tutorial that explains to someone on their own computer and using nothing but generally available resources online how to dow

[2017-01-25 22:00] anarak opened #321 "Updates for tutorial (ice-xsede)"
The following are suggestions for a better clarity of the tutorial.

1.2 Installation: using USB stick is one way of getting the source code, maybe it's worth putting description about getting the source from the web?
1.2 Installation: adding exact file names to the list of what is provided in the USB stick would help. For example: 'A clone of the ICE git repository (ice-repository.zip)' and etc.

[2017-01-26 13:10] SmithRWORNL commented on #321
@anarak The docs for the tutorial are written in Latex and are in the ICE repo itself (e.g. under the newItemGeneration project). Let us know if you need help editing them.

[2017-01-26 16:01] anarak commented on #321
Add an explanation to tutorial specifying that

1. ICE is an Eclipse application
2. ICE git repository is a git repository for bundles needed to be added to ICE application
3. using different versions of ICE (application) and bundles will cause errors
4. 2.2.1-2 this step is about creating a synchronized project through remote connection to a directory. Currently, there is no access to remote host

[2017-01-26 18:37] anarak commented on #319
Yes, the newer version of ICE has no problems with the git repo (I cloned it from 'Developer->ICE->Clone') now. Please go ahead and close this ticket. Added notes to #321 for updating tutorial on this issue.

[2017-01-26 18:42] jayjaybillings commented on #319
Anara,

You should be able to just hit the close button...

Jay

Jay Jay Billings
Oak Ridge National Laboratory
Twitter Handle: @jayjaybillings
________________________________
From: anarak <notifications@github.com>
Sent: Thursday, January 26, 2017 1:37 PM
To: eclipse/ice
Cc: Subscribed
Subject: Re: [eclipse/ice] On Fedora 25 importing local repository to ICE generated 65 errors (#319)

Yes, the

[2017-01-26 18:54] anarak commented on #319
@jayjaybillings, ok! I thought Robert is managing all that.

[2017-01-26 18:54] #319 closed

[2017-01-26 20:08] scrawfo6 opened #322 "Path to VisIt incorrectly generated in ICE (Mac OS X)"
When adding a new VisIt connection, the path automatically generated by ICE is incorrect in Mac OS X.

Path generated: /Applications/VisIt
Path needed: /Applications/VisIt.app/Contents/Resources/bin/

Unless corrected manually, ICE will not connect to VisIt.

ICE version: 2.2.0, Build id: 20161020
VisIt version 2.9.2

![screen shot 2017-01-26 at 3 06 17 pm](https://cloud.githubusercontent.com/asse

[2017-01-26 20:12] scrawfo6 opened #323 "Path to ParaView incorrectly generated in ICE (Mac OS X)"
When adding a new ParaView connection, the path automatically generated by ICE is incorrect (Mac OS X).

Path generated by ICE: /Applications/

Path needed: I'm not sure what path is needed. I tried the following paths, with no success.
- /Applications/ParaView-5.2.0.app
- /Applications/ParaView-5.2.0.app/Contents/bin
- /Applications/ParaView-5.2.0.app/Contents/MacOS

ICE version: 2.2.0, Build id:

[2017-01-27 14:33] anarak commented on #322
If that may help, the xsede manual says that the path to VisIt must be entered manually. Users can install VisIt to any location unless they choose a default one,

[2017-01-27 14:37] scrawfo6 commented on #322
I can certainly change the tutorial to reflect that, but if we go that route then ICE shouldn't autofill that field at all (that is what is confusing to the user). I'm fine with either solution, and I think VisIt (and ParaView) not filling in the application path is more "future proof."

That said, if the path is left blank I think it should throw some sort of message/error as soon as the user hit

[2017-01-27 14:42] SmithRWORNL commented on #322
There's been discussion in the past about searching for an installation of VisIt/ParaView on the system path or in likely locations, and populating the default path that way.

We've also been wanting to eventually gut this entire page and replace it with something more advanced (including opening a file dialog to let the user manually find the executable themselves). That ultimately may be what I

[2017-01-27 14:43] scrawfo6 commented on #322
That sounds like a very elegant solution.

[2017-01-27 14:44] jayjaybillings commented on #322
@scrawfo6 is correct. We should put bugs in to fix the functionality and then update the tutorial.

If you want to know what I really think... ;-) I hate that whole menu and I think we should rewrite it. A guy who did some contract work for us suggested that a Master-Details layout might work better and I'm inclined to agree. In that scenario the master page would just be the connection number and

[2017-01-27 14:48] anarak commented on #322
Currently, in ICE for Linux, the autofilled path is /home/username. Then, if a user hits 'apply' without touching anything, an error message pops up. Just reporting what I saw in the manual and ICE. Anyway, Robert's idea sounds great.

[2017-01-27 16:35] anarak commented on #321
After completing 4.1.2 had the following error:
![screenshot from 2017-01-27 11-33-31](https://cloud.githubusercontent.com/assets/25353166/22378760/a75e2d26-e484-11e6-8e21-c315fced257b.png)

[2017-01-27 17:13] SmithRWORNL commented on #321
@anarak I couldn't reproduce the bug for section 4.1.2 on the latest unstable nightly build. What version of ICE are you using?

[2017-01-27 18:31] anarak commented on #321
@SmithRWORNL it's:
Version: next
Build id: 20170118

[2017-01-27 18:42] SmithRWORNL commented on #321
@anarak What version of Java? You need Java 8 in order to have JavaFX for the geometry and mesh editors.

[2017-01-27 18:53] anarak commented on #321
@SmithRWORNL it's:
openjdk version "1.8.0_111"
OpenJDK Runtime Environment (build 1.8.0_111-b16)
OpenJDK 64-Bit Server VM (build 25.111-b16, mixed mode)

[2017-01-27 19:08] jayjaybillings commented on #321
@SmithRWORNL I bet it is the default Fedora build of OpenJDK that does not contain the necessary SWT jars.

I think we need to update the wiki page to reflect this problem with the Fedora OpenJDK as well. http://wiki.eclipse.org/Getting_ICE

[2017-01-27 19:26] SmithRWORNL commented on #321
@anarak

Try downloading https://jdk8.java.net/download.html

Then do

alternatives --install /usr/bin/java java /path/to/java/jre/bin/java 3

alternatives --config java

Then type the number of the new JDK you just downloaded (3, in this case).

That should get you set up with the correct JDK that has all the JavaFX jars in it. Then you can restart ICE and try opening the Geometry Editor again.

[2017-01-30 15:47] anarak commented on #321
@SmithRWORNL, that solved the problem with the Geometry Editor. As Jay said this must be updated in the wiki.

[2017-01-30 16:26] anarak commented on #321
1. add a screenshot of default ICE view after opening the Geometry Editor at the end of 4.1.2 so that users know how the Geometry Editor looks like.
2. in 4.1.3 clicking on the shape's name in the Shapes View didn't make the shape's color turn red.
3. in 4.1.3 selections of the shapes in the Shape View didn't activate the Transformation View in the lower left corner.
4. in 4.1.3 when adding a Dupl

[2017-01-31 13:30] klaskyhb opened #324 "Develop an app store for scientific software that will sandbox the code in containers"
Develop a set of new ICE actions that will orchestrate the process of launching a new sandbox version of the OS that will have the scientific software.

[2017-01-31 13:36] klaskyhb opened #325 "Develop wizard user interface (using Balsamiq) to create the sandbox"
Wizard user interface (Balsamiq) to create the sandbox
o	Drop some story boards
o	Activity diagram that shows the flow and
o	GUI in Balsamiq

•	The Wizard forms will need to include the following:
o	List of packages available
o	Box to choose compilers
o	OS that you want to use
o	Provide an import button on the wizard for a default docker module
o	What ports do you want open in the OS
o	Box for use

[2017-01-31 13:36] klaskyhb opened #326 "Explore calling PTP to create synchronized projects programmatically"
Develop PTP to synchronize project sample programmatically (I.e. Use the API instead of the GUI),
o	we need an API to be able to call.

[2017-01-31 13:37] klaskyhb opened #327 "Include syntax highlighting"
Syntax highlighting is very important for code completion we need to include it,
o	CDT indexer has to  index the header files inside the directory.
o	(currently Alex uses SSHFS to mount a remote directory locally)

[2017-01-31 13:37] klaskyhb opened #328 "There is a bug in the synchronized project (PTP does synch via git) when you have git submodules"
There is a bug in the synchronized project (PTP does synch via git) when you have git submodules

[2017-01-31 13:39] klaskyhb opened #329 "In the future, it will be nice to have a remote docker container to run jobs."
In the future, it will be nice to have a remote docker container to run jobs.

[2017-01-31 13:43] klaskyhb opened #330 "Develop the data model definition for the Full Service Scientific Software App Store"
Develop the data model definition for the Full Service Scientific Software App Store: what do you need to treat the containers? (file paths, what else?)

[2017-01-31 13:44] klaskyhb opened #331 "Research the best option to use: SWT or SWT plus VAADIN with browser widget"
Research the best option to use: SWT or SWT plus VAADIN with browser widget, and why.

[2017-01-31 13:53] jarrah42 commented on #326
To clarify, do you want to be able to create a synchronized project programmatically? I think this is probably already possible, but I would suggest sending an email to the ptp-users list.

[2017-01-31 13:55] jarrah42 commented on #327
Syntax highlighting of what? Highlighting of C/C++ code should already be there.

[2017-01-31 13:56] jarrah42 commented on #328
Please open a bugzilla entry and include a test case if you think there is a bug in PTP.

[2017-01-31 14:02] anarak opened #332 "Archive or remove the outdated article"
This is not relevant anymore:

https://wiki.eclipse.org/Fedora_AMD_Graphics_Drivers

[2017-01-31 14:05] SmithRWORNL commented on #332
I would prefer archival. We have a bug on EAVP for adding a jMonkeyEngine implementation of the geometry and mesh services, so in the future this information could be useful to us.

[2017-01-31 14:17] jayjaybillings commented on #332
I would just put a big disclaimer at the top that says it is out of date. @scrawfo6 might know how to do such a banner.

[2017-01-31 14:19] jayjaybillings commented on #331
Assigned to Alex and I for now since @anarak isn't a committer yet.

[2017-01-31 14:19] jayjaybillings commented on #330
Assigned to @amccaskey and I for now since @anarak isn't a committer yet.

[2017-01-31 14:20] jayjaybillings commented on #329
Assigned to @amccaskey and I for now since @anarak isn't a committer yet.

[2017-01-31 14:22] jayjaybillings commented on #328
Thanks @klaskyhb.

@amccaskey Will you please file the bug against PTP or talk to @jarrah42 to make sure it is actually a bug before filing?

Closing since this is a PTP bug.

[2017-01-31 14:22] #328 closed

[2017-01-31 14:24] jayjaybillings commented on #327
@jarrah42 This is about the Eclipse Converge talk where are building the app store. The idea is that we want to import "remote" projects from the Docker containers after we create them. @amccaskey should correct me if I am wrong, but I think the issuer here is really just about getting the right project nature configured?

[2017-01-31 14:24] jayjaybillings commented on #327
Assigned to @amccaskey and I for now since @anarak isn't a committer yet.

[2017-01-31 14:26] jayjaybillings commented on #326
@jarrah42 Yes. Once we create the Docker image, we want to create/import a "remote" project from that container.